Repository ethereum/ERCs, pull requests merged in 2023-10, with the labels that each got.

#6 jekyll: ignore erc-template.md
  _config.yml
Labels: w-ci

#5 Moves 7409 to final.
  ERCS/erc-7409.md
Labels: w-ci, t-erc, c-status, s-final

#7 Update EIP-6357: Move to Last Call
  ERCS/erc-6357.md
Labels: w-ci, t-erc, c-status

#11 Update EIP-7528: Move to Review
  ERCS/erc-7528.md
Labels: w-ci, t-erc, c-status, s-review

#14 Update ERC-5521: Move to Review
  ERCS/erc-5521.md
  assets/erc-5521/system-arch.png
Labels: w-ci, t-erc, c-status, s-review

#13 ERC-7535: Native Asset ERC-4626 Tokenized Vault
  ERCS/erc-7535.md
Labels: w-ci, t-erc, s-draft, c-new

#16 Add ERC-7254
  ERCS/erc-7254.md
  assets/erc-7254/ERC7254.sol
  assets/erc-7254/IERC7254.sol
Labels: w-ci, t-erc, s-draft, c-new

#10 ERC-7540: Asynchronous ERC-4626 Tokenized Vaults
  ERCS/erc-7540.md
Labels: w-ci, t-erc, s-draft, c-new

#35 Re-enable eipw
  .github/workflows/ci.yml
  config/eipw.toml
Labels: w-ci

#3 Updated 5164 to Last Call
  ERCS/erc-5164.md
Labels: w-ci, t-erc, c-status

#4 ERC-5189 updates
  ERCS/erc-5189.md
Labels: w-ci, t-erc, c-status, s-draft

#36 Missed a few lints still using `eip-`
  .github/workflows/ci.yml
  config/eipw.toml
Labels: w-ci

#58 Update ERC-6551: Registry and execution interface changes
  ERCS/erc-6551.md
Labels: w-ci, t-erc, c-update, s-review

#63 Update ERC-5564: missing necessary arg in computeStealthKey
  ERCS/erc-5564.md
Labels: w-ci, t-erc, c-update, s-review, a-review

#65 Update ERC-7254: fix broken links
  ERCS/erc-7254.md
Labels: t-erc, s-draft, c-update, a-review

#64 Update ERC-5564: Fix broken links
  ERCS/erc-5564.md
Labels: t-erc, c-update, s-review
