Repository ethereum/ERCs, pull requests merged in 2023-11, with the labels that each got.

#88 Update ERC-5564: fix links for HTMLProofer check
  ERCS/erc-5564.md
  assets/eip-5564/minimal_poc.ipynb
  assets/eip-5564/scheme_ids.md
Labels: t-erc, c-update, s-review, e-consensus, a-review

#40 Update ERC-6358: Add Compatibility with the Metamask(EIP-712)
  ERCS/erc-6358.md
Labels: t-erc, c-update, s-review, w-stale

#29 Update ERC-6982: Move to Last Call
  ERCS/erc-6982.md
Labels: t-erc, c-status, e-consensus, e-review

#47 Update ERC-7066: Move to Last Call
  ERCS/erc-7066.md
Labels: w-ci, t-erc, c-status, e-review

#19 Update ERC-7092: Move to Review
  ERCS/erc-7092.md
  assets/erc-7092/BondStorage.sol
  assets/erc-7092/ERC7092.sol
  assets/erc-7092/IERC7092.sol
  assets/erc-7092/IERC7092CrossChain.sol
  assets/erc-7092/IERC7092ESG.sol
  assets/erc-7092/coupons/CouponMath.sol
Labels: w-ci, t-erc, c-status, s-review, e-consensus, e-review

#44 Update ERC-3643: Move to Last Call
  ERCS/erc-3643.md
Labels: t-erc, c-status, e-review

#34 Update ERC-7160: Move to Last Call
  ERCS/erc-7160.md
Labels: t-erc, c-status, e-review

#52 Update ERC-7540: Move to Review
  ERCS/erc-7540.md
Labels: w-ci, t-erc, c-status, s-review, e-review

#57 Update ERC-2612: ERC-2612 fix typo
  ERCS/erc-2612.md
Labels: w-ci, t-erc, s-final, c-update, e-consensus, w-stale

#66 Update ERC-1363: Fix created date.
  ERCS/erc-1363.md
Labels: w-ci, t-erc, s-final, c-update, e-consensus, w-stale

#96 Update ERC-7231: Move to Last Call
  ERCS/erc-7231.md
Labels: w-ci, t-erc, c-status, e-review

#107 Update ERC-6982: Clarifying description
  ERCS/erc-6982.md
Labels: t-erc, c-update

#20 add erc-7509
  ERCS/erc-7509.md
  assets/erc-7509/Component.sol
  assets/erc-7509/README.md
  assets/erc-7509/System.sol
  assets/erc-7509/Types.sol
  assets/erc-7509/World.sol
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#49 Update ERC-223: Remove `standard` function
  ERCS/erc-223.md
Labels: w-ci, t-erc, s-final, c-update, e-consensus, w-stale

#72 Update ERC-5564: missing necessary arg in computeStealthKey
  ERCS/erc-5564.md
Labels: w-ci, t-erc, c-update, s-review, w-stale

#114 Fix date in ERC-5050
  ERCS/erc-5050.md
Labels: t-erc, c-update, s-stagnant

#115 Update ERC-6909: Remove `totalSupply`, add authors
  ERCS/erc-6909.md
Labels: t-erc, s-draft, c-update

#118 Update ERC-6909: update `interfaceId`
  ERCS/erc-6909.md
Labels: w-ci, t-erc, s-draft, c-update

#22 Add ERC: Prevent ticket touting
  ERCS/erc-7439.md
  assets/erc-7439/normal.png
  assets/erc-7439/resell.png
  assets/erc-7439/void.png
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#124 Update ERC-6358: Fix links
  ERCS/erc-6358.md
  ERCS/erc-7066.md
  ERCS/erc-7092.md
  ERCS/erc-7439.md
Labels: t-erc, s-draft, c-update, s-review, a-review

#101 Update ERC-7201: Move to Final
  ERCS/erc-7201.md
Labels: t-erc, c-status, s-final, e-review

#38 Update ERC-6596: Move to Review
  ERCS/erc-6596.md
Labels: t-erc, c-status, s-review, e-review

#78 Update ERC-7535: Move to Review
  ERCS/erc-7535.md
Labels: w-ci, t-erc, c-status, s-review, e-review, w-stale

#126 Update ERC-7439: Move to Review
  ERCS/erc-7439.md
Labels: t-erc, c-status, s-review, e-review

#94 Config: Add g11tech to ERC editors
  config/eip-editors.yml
Labels: e-consensus

#80 Add ERC: Content Consent for AI/ML Data Mining
  ERCS/erc-7517.md
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#131 Update ERC-7517: Fix links
  ERCS/erc-7517.md
Labels: t-erc, s-draft, c-update, a-review

#132 Update ERC-7521: General Intents for Smart Contract Wallets rev1
  ERCS/erc-7521.md
Labels: t-erc, s-draft, c-update

#133 Update ERC-7521: Fix Markdown link to to intent validation
  ERCS/erc-7521.md
Labels: t-erc, s-draft, c-update, a-review

#134 Update ERC-7521: Fix Markdown links
  ERCS/erc-7521.md
Labels: t-erc, s-draft, c-update

#135 Update ERC-7521: Revert markdown link fix
  ERCS/erc-7521.md
Labels: t-erc, s-draft, c-update

#23 Add ERC: ERC-20 Update Allowance By Spender
  ERCS/erc-7410.md
  assets/erc-7410/ERC7410.sol
  assets/erc-7410/IERC7410.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#137 Update ERC-6909: Extensions
  ERCS/erc-6909.md
Labels: t-erc, s-draft, c-update

#93 Update ERC-7417: Update erc-7417.md
  ERCS/erc-7417.md
Labels: t-erc, s-draft, c-update

#26 Add ERC: NFT Dynamic Traits
  ERCS/erc-7496.md
  assets/erc-7496/DynamicTraits.sol
  assets/erc-7496/DynamicTraitsSchema.json
  assets/erc-7496/ERC721DynamicTraits.sol
  assets/erc-7496/ERC721DynamicTraits.t.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#27 Add ERC: NFT Redeemables
  ERCS/erc-7498.md
  assets/erc-7498/ERC721ShipyardRedeemable.sol
  assets/erc-7498/ERC721ShipyardRedeemable.t.sol
  assets/erc-7498/ERC7498NFTRedeemables.sol
  assets/erc-7498/IERC7498.sol
  assets/erc-7498/IRedemptionMintable.sol
  assets/erc-7498/RedeemablesErrors.sol
  assets/erc-7498/RedeemablesStructs.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#21 Add ERC: Trusted Hint Registry
  ERCS/erc-7506.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review
