Repository ethereum/ERCs, pull requests merged in 2023-12, with the labels that each got.

#116 Update ERC-6900: spec update 6
  ERCS/erc-6900.md
Labels: w-ci, t-erc, s-draft, c-update, a-review

#141 Update ERC-6900: Add missing `pluginMetadata()` method
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update

#91 Add ERC: Cross-Contract Hierarchical NFT
  ERCS/erc-7510.md
  assets/erc-7510/contracts/ERC7510.sol
  assets/erc-7510/contracts/IERC7510.sol
  assets/erc-7510/hardhat.config.ts
  assets/erc-7510/package.json
  assets/erc-7510/test/ERC7510.test.ts
  assets/erc-7510/tsconfig.json
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#77 Add ERC: Open IP Protocol built on NFTs
  ERCS/erc-7548.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#145 Update ERC-7540: Update ERC-7540
  ERCS/erc-7540.md
Labels: w-ci, t-erc, c-update, s-review

#73 Add ERC: Smart NFT - A Component for Intent-Centric
  ERCS/erc-7513.md
  assets/erc-7513/workflow.png
  assets/erc-7513/workflow_developer.png
  assets/erc-7513/workflow_user.png
  assets/erc-7513/workflow_verifier.png
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#43 Update ERC-6956: Move to Review
  ERCS/erc-6956.md
  assets/erc-6956/contracts/ERC6956.sol
  assets/erc-6956/contracts/IERC6956.sol
  assets/erc-6956/contracts/IERC6956AttestationLimited.sol
  assets/erc-6956/minimalAttestationSample.ts
  assets/erc-6956/test/ERC6956.ts
  assets/erc-6956/test/ERC6956Full.ts
Labels: t-erc, c-status, s-review, e-consensus, e-review

#25 ERC-6123: Move to Draft: Enlarged interface, streamlined reference implementation.
  ERCS/erc-6123.md
  assets/erc-6123/README.md
  assets/erc-6123/contracts/ERC20Settlement.sol
  assets/erc-6123/contracts/IERC20Settlement.sol
  assets/erc-6123/contracts/ISDC.sol
  assets/erc-6123/contracts/SDC.sol
  assets/erc-6123/contracts/SDCPledgedBalance.sol
  assets/erc-6123/doc/sdc_lifecycle_sequence_diagram.png
  assets/erc-6123/doc/sdc_trade_states.png
  assets/erc-6123/hardhat.config.js
  assets/erc-6123/package.json
  assets/erc-6123/test/SDC.js
  assets/erc-6123/test/SDCTests.js
Labels: t-erc, c-status, s-draft, e-consensus, e-review

#123 Website: ERC-6982 Improving the comments in the interface
  ERCS/erc-6982.md
  assets/erc-6982/contracts/IERC6982.sol
  assets/erc-6982/test/Lockable.test.js
Labels: t-erc, c-update, e-consensus

#142 Update ERC-7066: Move to Final
  ERCS/erc-7066.md
Labels: t-erc, c-status, s-final, e-review

#109 Update ERC-3643: Move to Final
  ERCS/erc-3643.md
Labels: t-erc, c-status, s-final, e-review

#138 Update ERC-7439: Move to Last Call
  ERCS/erc-7439.md
Labels: t-erc, c-status, e-review

#158 Update ERC-6982: Move to Final
  ERCS/erc-6982.md
Labels: t-erc, c-status, s-final, e-review

#112 Update ERC-20: Copy ERC-20 reference implementations locally
  ERCS/erc-20.md
  assets/erc-20/Consensys-EIP20.sol
  assets/erc-20/LICENSE
  assets/erc-20/OpenZeppelin-ERC20.sol
Labels: w-ci, t-erc, s-final, c-update, e-consensus

#161 Update ERC-7528: ERC 7528 Clarifications
  ERCS/erc-7528.md
Labels: t-erc, c-update, s-review

#33 Add ERC: Contract Discovery and eTLD+1 Association
  ERCS/erc-7529.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#167 Update ERC-6900: Fix incorrect `dependencies` type in `installPlugin`
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update

#174 Update ERC-4337: Fix typos
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update, a-review

#175 Update ERC-6120: update ERC-6120
  ERCS/erc-6120.md
Labels: t-erc, c-update, s-review

#168 Update ERC-6909: Nits, Spelling, Organization
  ERCS/erc-6909.md
Labels: t-erc, s-draft, c-update
