Repository ethereum/ERCs, pull requests merged in 2024-02, with the labels that each got.

#62 Add ERC: Public Cross Port
  ERCS/erc-7533.md
  assets/erc-7533/0.png
  assets/erc-7533/1.png
  assets/erc-7533/2.png
  assets/erc-7533/3.png
  assets/erc-7533/4.png
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#70 Add ERC: Token Bound Function Oracle AMM
  ERCS/erc-7527.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#104 Add ERC: Simple NFT, Simplified ERC-721
  ERCS/erc-7561.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#233 Update ERC-7527: Fix code
  ERCS/erc-7527.md
Labels: t-erc, s-draft, c-update

#234 Update ERC-7527: Fix Typo
  ERCS/erc-7527.md
Labels: t-erc, s-draft, c-update

#237 Update ERC-7303: Security Considerations
  ERCS/erc-7303.md
Labels: t-erc, s-draft, c-update

#211 Update ERC-4361: Fix typos
  ERCS/erc-4361.md
Labels: t-erc, c-update, s-review, a-review

#240 Update ERC-7579: simplification of specs
  ERCS/erc-7579.md
  assets/erc-7579/IMSA.sol
Labels: t-erc, s-draft, c-update

#200 Update ERC-7231: Move to Final
  ERCS/erc-7231.md
Labels: t-erc, c-status, s-final, e-review

#228 Update ERC-5585: Move to Final
  ERCS/erc-5585.md
Labels: t-erc, c-status, s-final, a-review

#144 Update ERC-6224: Move to Review
  ERCS/erc-6224.md
  assets/erc-6224/diagram.svg
Labels: t-erc, c-status, s-review, e-review, w-stale

#208 Update ERC-7531: Move to Review
  ERCS/erc-7531.md
Labels: t-erc, c-status, s-review, e-review

#164 Update ERC-7484: Turn into extension for ERC-7579
  ERCS/erc-7484.md
Labels: w-ci, t-erc, s-draft, c-update

#197 Update ERC-6860: Auto mode: Argument autodetection: Add bool as an autodetected type.
  ERCS/erc-6860.md
Labels: t-erc, s-draft, c-update

#98 Add ERC: MIME type for Web3 URL in Auto Mode
  ERCS/erc-7087.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#92 Add ERC: Ethereum Access Token
  ERCS/erc-7272.md
  assets/erc-7272/AccessTokenConsumer.sol
  assets/erc-7272/AccessTokenVerifier.sol
  assets/erc-7272/EAT_transaction_auth_flow.png
  assets/erc-7272/IAccessTokenVerifier.sol
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#130 Add ERC: Multiplayer Game Communication
  ERCS/erc-7566.md
  assets/erc-7566/MOGFlowChart.png
  assets/erc-7566/MultiplayerOnchainGame.sol
  assets/erc-7566/Types.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#248 Update ERC-1328: Move to Final
  ERCS/erc-1328.md
Labels: t-erc, c-status, s-final, e-review

#258 Update ERC-5521: Move to Review
  ERCS/erc-5521.md
  assets/erc-5521/ERC_5521.sol
  assets/erc-5521/IERC_5521.sol
Labels: w-ci, t-erc, c-update, s-review, e-review

#261 Update ERC-5189: ERC5189 - Scaling factor and untrusted environments
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#262 Update ERC-5189: 5189 Spell fix
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#264 Update ERC-5189: ERC5189 - Automatic dependency generation
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#162 Update ERC-7528: Move to Last Call
  ERCS/erc-7528.md
Labels: t-erc, c-status, e-review

#247 Update ERC-7535: Move to Last Call
  ERCS/erc-7535.md
Labels: t-erc, c-status, e-review

#238 Update ERC-7425: Add missing info
  ERCS/erc-7425.md
Labels: w-ci, t-erc, s-draft, c-update

#157 Add ERC: Partial and Extended ERC-4626 Vaults
  ERCS/erc-7575.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#268 Add ERC: Secure Messaging Protocol
  ERCS/erc-7627.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#270 Update ERC-5189: ERC-5189 formatting
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#276 Update ERC-5189: 5189 Operation comments
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#272 Config: Sync with EIPs
  config/eipw.toml
Labels: e-consensus

#105 Add ERC: Account Abstraction Validation Scope Rules
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#281 Update ERC-4337: erc-4337 updates to v0.7
  ERCS/erc-4337.md
  assets/erc-4337/bundle-seq-pm.svg
  assets/erc-4337/bundle-seq.svg
  assets/erc-4337/image1.png
  assets/erc-4337/image2.png
Labels: w-ci, t-erc, s-draft, c-update

#286 Update ERC-7590: Handles erc20s with transfer fees.
  ERCS/erc-7590.md
  assets/erc-7590/contracts/AbstractERC7590.sol
Labels: t-erc, s-draft, c-update

#288 Update ERC-7627: To reduce gas costs, the variable type was changed.
  ERCS/erc-7627.md
Labels: t-erc, s-draft, c-update
