Repository ethereum/ERCs, pull requests merged in 2024-01, with the labels that each got.

#95 Update ERC-5189: Add feeToken to isOperationReady ERC-5189
  ERCS/erc-5189.md
Labels: w-ci, t-erc, s-draft, c-update, w-stale

#180 Update ERC-5189: EIP-5189 Typos
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#189 Update ERC-5216: ERC-5216 global update
  ERCS/erc-5216.md
  assets/erc-5216/ERC5216.sol
Labels: w-ci, t-erc, c-update

#48 Add ERC: Simple token, Simplified ERC-20
  ERCS/erc-7196.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#159 Update ERC-7439: Move to Final
  ERCS/erc-7439.md
Labels: t-erc, c-status, s-final, e-review

#187 Add ERC: ERC-20 Holder Extension for NFTs
  ERCS/erc-7590.md
  assets/erc-7590/contracts/AbstractERC7590.sol
  assets/erc-7590/contracts/ERC20Mock.sol
  assets/erc-7590/contracts/ERC7590Mock.sol
  assets/erc-7590/contracts/IERC7590.sol
  assets/erc-7590/hardhat.config.ts
  assets/erc-7590/package.json
  assets/erc-7590/test/erc7590.ts
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#150 Add ERC: Contract-level metadata via `contractURI()`
  ERCS/erc-7572.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#183 Update ERC-2135: fix typo
  ERCS/erc-2135.md
Labels: t-erc, s-final, c-update, e-consensus

#193 Update ERC-7590: Improves specification details on ERC7590.
  ERCS/erc-7590.md
  assets/erc-7590/contracts/IERC7590.sol
Labels: t-erc, s-draft, c-update

#50 Add ERC: Multiplicative Tokens
  ERCS/erc-7538.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#194 Update ERC-7590: Adds reference to test cases and implementation.
  ERCS/erc-7590.md
Labels: w-ci, t-erc, s-draft, c-update

#54 Add ERC: Encumber - Splitting Ownership & Guarantees
  ERCS/erc-7246.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#90 Add ERC: On-Chain Data Container
  ERCS/erc-7208.md
  assets/erc-7208/erc-7208-compat.md
  assets/erc-7208/erc-7208-example-use-cases.jpg
  assets/erc-7208/erc-7208-overview.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#166 Update ERC-5564: update schemeID
  ERCS/erc-5564.md
  assets/erc-5564/scheme_ids.md
Labels: t-erc, c-update, s-review

#216 Update ERC-1328: Update erc-1328.md
  ERCS/erc-1328.md
Labels: t-erc, c-update, s-review

#212 Update ERC-7092: Move to Last Call
  ERCS/erc-7092.md
Labels: t-erc, c-status, e-review

#215 Update ERC-1328: Move to Last Call
  ERCS/erc-1328.md
Labels: t-erc, c-status, e-review

#219 Update ERC-6900: 0.7.0
  ERCS/erc-6900.md
  assets/erc-6900/Plugin_Execution_Flow.svg
Labels: t-erc, s-draft, c-update

#225 Update ERC-5604: Move to Draft
  ERCS/erc-5604.md
Labels: w-ci, t-erc, c-status, s-draft

#163 Add ERC: Minimal Modular Smart Accounts
  ERCS/erc-7579.md
  assets/erc-7579/IMSA.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#227 Update ERC-5727: Improve descriptions
  ERCS/erc-5727.md
Labels: t-erc, s-draft, c-update
