Repository ethereum/ERCs, pull requests merged in 2024-06, with the labels that each got.

#458 Update ERC-7540: Update ERC7540
  ERCS/erc-7540.md
Labels: t-erc, c-update, s-review

#459 Update ERC-7578: Potential linearization issue
  ERCS/erc-7578.md
Labels: t-erc, s-draft, c-update

#460 Update ERC-7540: Update ERC7540
  ERCS/erc-7540.md
Labels: t-erc, c-update, s-review

#354 Add ERC: Distinguishable base256emoji Addresses
  ERCS/erc-7673.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#274 Add ERC: Limited Transfer Count NFT
  ERCS/erc-7634.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#463 Update ERC-7484: require sorted attesters
  ERCS/erc-7484.md
Labels: t-erc, s-draft, c-update

#360 Add ERC: Paymaster Web Service Capability
  ERCS/erc-7677.md
  assets/erc-7677/0.png
  assets/erc-7677/1.png
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#372 Add ERC: Auxiliary Funds Capability
  ERCS/erc-7682.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#401 Update ERC-7399: Don't revert on view functions.
  ERCS/erc-7399.md
Labels: w-ci, t-erc, s-draft, c-update

#406 Add ERC: Tokenized Vaults with Lock-in Period
  ERCS/erc-6229.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#469 Update ERC-7627: Erc 7627
  ERCS/erc-7627.md
Labels: t-erc, s-draft, c-update

#470 Update ERC-7644: Erc 7644
  ERCS/erc-7644.md
Labels: t-erc, s-draft, c-update

#474 Update ERC-6900: clarify security considerations
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update

#455 Update ERC-7575: Move to Final
  ERCS/erc-7575.md
Labels: t-erc, c-status, s-final, e-review

#462 Update ERC-5521: Move to Final
  ERCS/erc-5521.md
Labels: t-erc, c-status, s-final, e-review

#465 Add ERC: Deferred Token Transfer
  ERCS/erc-7720.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#315 Add ERC: Request Method Types
  ERCS/erc-7654.md
  assets/erc-7654/RequestMethodTypes.sol
  assets/erc-7654/Types.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#475 Update ERC-7720: Rationale
  ERCS/erc-7720.md
Labels: t-erc, s-draft, c-update

#361 Add ERC: UserOperation Builder
  ERCS/erc-7679.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#330 Update ERC-4824: Move to Review
  ERCS/erc-4824.md
  assets/erc-4824/contracts/ERC4824Factory.sol
  assets/erc-4824/contracts/ERC4824Registration.sol
Labels: t-erc, c-status, s-review, e-review

#471 Update ERC-1046: fixing typos #297
  ERCS/erc-1046.md
Labels: t-erc, s-final, c-update, e-consensus

#478 Update ERC-7627: change to external
  ERCS/erc-7627.md
Labels: t-erc, s-draft, c-update

#480 Update ERC-7644: Name Registry
  ERCS/erc-7644.md
Labels: t-erc, s-draft, c-update

#235 Add ERC: Atomic Push-based Data Feed Among Contracts
  ERCS/erc-7615.md
  assets/erc-7615/ERC7615.svg
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#483 Update ERC-7540: Update ERC7540 interface IDs
  ERCS/erc-7540.md
Labels: t-erc, c-update

#484 Update ERC-7579: hook postCheck simplification
  ERCS/erc-7579.md
Labels: t-erc, s-draft, c-update

#170 Add ERC: Modular Accounts with Delegated Validation
  ERCS/erc-7582.md
  assets/erc-7582/MADVAccount.sol
  assets/erc-7582/base-flow.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#404 Add ERC: Cross-chain Storage Router Protocol
  ERCS/erc-7700.md
  assets/erc-7700/images/Database.svg
  assets/erc-7700/images/Keygen.svg
  assets/erc-7700/images/L1.svg
  assets/erc-7700/images/L2.svg
  assets/erc-7700/images/Schema.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#486 Update ERC-7540: Update ERC7540
  ERCS/erc-7540.md
Labels: t-erc, c-update

#490 Update ERC-7677: add isFinal flag, move sponsor, and specify validation expectations
  ERCS/erc-7677.md
Labels: t-erc, s-draft, c-update

#491 Update ERC-7677: Change pngs to svgs
  ERCS/erc-7677.md
  assets/erc-7677/0.png
  assets/erc-7677/0.svg
  assets/erc-7677/1.png
  assets/erc-7677/1.svg
Labels: t-erc, s-draft, c-update

#492 Update ERC-7540: Fix ERC7540 typo
  ERCS/erc-7540.md
Labels: t-erc, c-update

#488 Update ERC-7700: Cross-chain Storage Router Protocol
  ERCS/erc-7700.md
Labels: t-erc, s-draft, c-update, e-consensus, e-review

#496 Update ERC-6909: Nit, adds case to `transferFrom` where `sender` is `msg.sender`.
  ERCS/erc-6909.md
Labels: t-erc, s-draft, c-update

#67 Add ERC: Dynamic Compliant Interop Security Token
  ERCS/erc-7518.md
  assets/erc-7518/exampleUsecase.png
  assets/erc-7518/sequentialDiagram.png
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#493 Update ERC-7700: Minor Edits for Clarity
  ERCS/erc-7700.md
  assets/erc-7700/images/Database.svg
  assets/erc-7700/images/Keygen.svg
  assets/erc-7700/images/L1.svg
  assets/erc-7700/images/L2.svg
  assets/erc-7700/images/Schema.svg
Labels: t-erc, s-draft, c-update

#269 Add ERC: ERC-20/ERC-721 Unified Token Interface
  ERCS/erc-7629.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#499 Update ERC-7578: Security Considerations
  ERCS/erc-7578.md
Labels: w-ci, t-erc, s-draft, c-update

#502 Update ERC-7656: Update naming for clarity
  ERCS/erc-7656.md
Labels: w-ci, t-erc, s-draft, c-update

#505 Update ERC-7540: Remove inequality
  ERCS/erc-7540.md
Labels: t-erc, c-update

#476 Update ERC-7540: Move to Final
  ERCS/erc-7540.md
Labels: t-erc, c-status, s-final, e-review

#485 Update ERC-6538: Move to Final
  ERCS/erc-6538.md
Labels: t-erc, c-status, s-final, e-review

#481 Update ERC-5625: Move to Review
  ERCS/erc-5625.md
Labels: t-erc, c-status, s-review, e-review

#482 Update ERC-7588: Move to Review
  ERCS/erc-7588.md
Labels: t-erc, c-status, s-review, e-review

#503 Update ERC-7015: Move to Review
  ERCS/erc-7015.md
Labels: t-erc, c-status, s-review, e-review

#507 Update ERC-6123: enhance termination functionality to include termination terms (as string)
  ERCS/erc-6123.md
  assets/erc-6123/contracts/ISDC.sol
  assets/erc-6123/contracts/SDC.sol
Labels: t-erc, s-draft, c-update

#508 Update ERC-6900: Fix typo in responsibilities section
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update, a-review

#510 Update ERC-7579: Add missing execution encoding specs
  ERCS/erc-7579.md
Labels: t-erc, s-draft, c-update

#511 Update ERC-7527: Update erc-7527.md
  ERCS/erc-7527.md
Labels: t-erc, s-draft, c-update

#512 Update ERC-7615: Safety update
  ERCS/erc-7615.md
Labels: w-ci, t-erc, s-draft, c-update

#99 Add ERC: Single Sign-On for Account Discovery
  ERCS/erc-7555.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review
