Repository ethereum/ERCs, pull requests merged in 2024-08, with the labels that each got.

#561 Website: Refactor rename for events associated with settlement.
  ERCS/erc-6123.md
  assets/erc-6123/contracts/ISDC.sol
  assets/erc-6123/contracts/SDCPledgedBalance.sol
  assets/erc-6123/test/SDCTests.js
Labels: t-erc, s-draft, c-update

#562 Update ERC-6123: Refactor rename SDC.sol to SDCSingleTrade.sol
  ERCS/erc-6123.md
  assets/erc-6123/contracts/SDCSingleTrade.sol
  assets/erc-6123/contracts/SDCSingleTradePledgedBalance.sol
Labels: t-erc, s-draft, c-update

#564 Update ERC-6860: Add the fragment part to the URL definition.
  ERCS/erc-6860.md
Labels: t-erc, s-draft, c-update

#566 Update ERC-7208: prep
  ERCS/erc-7208.md
  assets/erc-7208/erc-7208-compat.md
  assets/erc-7208/erc-7208-overview.svg
  assets/erc-7208/erc-7208-technical-overview.svg
Labels: t-erc, s-draft, c-update

#549 Update ERC-7631: Move to Review
  ERCS/erc-7631.md
Labels: e-review

#569 Website: Fixed typos in events / added arguments to SettlementEvaluated event.
  ERCS/erc-6123.md
  assets/erc-6123/contracts/ERC20Settlement.sol
  assets/erc-6123/contracts/ISDC.sol
  assets/erc-6123/contracts/SDCSingleTrade.sol
  assets/erc-6123/contracts/SDCSingleTradePledgedBalance.sol
  assets/erc-6123/test/SDCTests.js
Labels: t-erc, s-draft, c-update, e-consensus

#563 ERC-6123: small refactor rename SDC.sol to SDCSingleTrade.sol
  assets/erc-6123/README.md
Labels: e-consensus

#571 Update ERC-7677: chain id update
  ERCS/erc-7677.md
Labels: t-erc, s-draft, c-update

#530 Add ERC: Permissionless Script Registry
  ERCS/erc-7738.md
  assets/erc-7738/.gitignore
  assets/erc-7738/contracts/DecentralisedRegistry.sol
  assets/erc-7738/contracts/DecentralisedRegistryPermissioned.sol
  assets/erc-7738/contracts/IERC7738.sol
  assets/erc-7738/contracts/stakingToken.sol
  assets/erc-7738/hardhat.config.ts
  assets/erc-7738/ignition/modules/Lock.ts
  assets/erc-7738/package-lock.json
  assets/erc-7738/package.json
  assets/erc-7738/test/DecentralisedRegistry.test.ts
  assets/erc-7738/test/PermissionedRegistry.test.ts
  assets/erc-7738/tsconfig.json
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#572 Update ERC-7682: Add assets
  ERCS/erc-7682.md
Labels: t-erc, s-draft, c-update

#583 Update ERC-6123: Minor fix to headlines (added subsection).
  ERCS/erc-6123.md
Labels: t-erc, s-draft, c-update

#587 Update ERC-7303: Update erc-7303.md
  ERCS/erc-7303.md
Labels: t-erc, s-draft, c-update

#590 Update ERC-7579: specify fallback authorization control
  ERCS/erc-7579.md
Labels: t-erc, s-draft, c-update

#557 Update ERC-7677: Move to Review
  ERCS/erc-7677.md
Labels: t-erc, c-status, s-review, e-review

#495 Update ERC-4337: erc4337 updates
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#391 Add ERC: Ownership Delegation and Context for ERC-721
  ERCS/erc-7695.md
  assets/erc-7695/mortgage.svg
  assets/erc-7695/rental.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#597 Update erc-7588.md
  ERCS/erc-7588.md
Labels: t-erc, c-status

#500 Add ERC: Common Quote Oracle
  ERCS/erc-7726.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#595 Update ERC-7677: Move to Last Call
  ERCS/erc-7677.md
Labels: t-erc, c-status, e-review

#600 CI: Update stale.yml
  .github/workflows/stale.yml
Labels: e-consensus

#220 Add ERC: ERC-1155 Multi-Asset extension
  ERCS/erc-7603.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#604 Add ERC: Minimal Upgradeable Proxies
  ERCS/erc-7760.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#236 Add ERC: Puppet Proxy Contract
  ERCS/erc-7613.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#598 Add ERC: Transfer With Authorization
  ERCS/erc-7758.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#531 Update ERC-3770: Fix broken links and formatting
  ERCS/erc-3770.md
Labels: a-review

#610 Update ERC-7585: fix typo
  ERCS/erc-7585.md
Labels: w-ci, t-erc, s-draft, c-update
