Repository ethereum/ERCs, pull requests merged in 2024-09, with the labels that each got.

#612 Update ERC-7677: postopgas callout
  ERCS/erc-7677.md
Labels: t-erc, c-update

#613 Update ERC-7588: Move to Final
  ERCS/erc-7588.md
Labels: t-erc, c-status, s-final, e-review

#609 Update ERC-7432: Move to Last Call
  ERCS/erc-7432.md
Labels: t-erc, c-status, e-review

#542 Add ERC: Code Index
  ERCS/erc-7744.md
  assets/erc-7744/CodeIndex.sol
  assets/erc-7744/ICodeIndex.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#543 Add ERC: Composable Security Middleware Hooks
  ERCS/erc-7746.md
  assets/erc-7746/ILayer.sol
  assets/erc-7746/README.md
  assets/erc-7746/test/AccessLayers.sol
  assets/erc-7746/test/Drainer.sol
  assets/erc-7746/test/IVictim.sol
  assets/erc-7746/test/LibAccessLayers.sol
  assets/erc-7746/test/MockERC20.sol
  assets/erc-7746/test/Protected.sol
  assets/erc-7746/test/RateLimitLayer.sol
  assets/erc-7746/test/deploy/drainer.ts
  assets/erc-7746/test/deploy/layered_proxy.ts
  assets/erc-7746/test/deploy/simple_layer.ts
  assets/erc-7746/test/test.ts
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#537 Update ERC-7627: Move to Review
  ERCS/erc-7627.md
Labels: t-erc, c-status, s-review, e-review

#576 Update ERC-7656: Move to Review
  ERCS/erc-7656.md
Labels: t-erc, c-status, s-review, e-review

#614 Update ERC-7677: Move to Review
  ERCS/erc-7677.md
Labels: t-erc, c-status, s-review

#619 Update ERC-7656: Fix wording, using service instead of account, when needed
  ERCS/erc-7656.md
Labels: t-erc, c-update, s-review

#620 Website: Remove polyfill.
  _includes/head.html
Labels: e-consensus

#621 Update ERC-4337: Unused gas penalty only callGasLimit` and `paymasterPostOpGasLimit`
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#417 Add ERC: NFT Metadata Extension like JSON-LD
  ERCS/erc-7280.md
  assets/erc-7280/samples/data/gtim1.json
  assets/erc-7280/samples/data/music1.json
  assets/erc-7280/samples/data/video1.json
  assets/erc-7280/samples/schemas/GoogleTravelImpactModel.json
  assets/erc-7280/samples/schemas/MusicRecording.json
  assets/erc-7280/samples/schemas/VideoObject.json
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#633 Website: Update to ERC-7738 Registry with test harness and deployment scripts
  ERCS/erc-7738.md
  assets/erc-7738/.gitignore
  assets/erc-7738/.openzeppelin/base-sepolia.json
  assets/erc-7738/.openzeppelin/base.json
  assets/erc-7738/.openzeppelin/holesky.json
  assets/erc-7738/.openzeppelin/mainnet.json
  assets/erc-7738/.openzeppelin/polygon.json
  assets/erc-7738/.openzeppelin/sepolia.json
  assets/erc-7738/.openzeppelin/unknown-1001.json
  assets/erc-7738/.openzeppelin/unknown-5003.json
  assets/erc-7738/.openzeppelin/unknown-80002.json
  assets/erc-7738/.openzeppelin/unknown-8217.json
  assets/erc-7738/contracts/DecentralisedRegistryNFT.sol
  assets/erc-7738/contracts/DecentralisedRegistryPermissioned.sol
  assets/erc-7738/contracts/ENSSubdomainAssigner.sol
  assets/erc-7738/contracts/ExampleNFT.sol
  assets/erc-7738/contracts/IERC7738.sol
  assets/erc-7738/contracts/RegistryENSName.sol
  assets/erc-7738/contracts/RegistryMetadata.sol
  assets/erc-7738/contracts/registry/ENS.sol
  assets/erc-7738/contracts/registry/Resolver.sol
  assets/erc-7738/hardhat.config.ts
  assets/erc-7738/package-lock.json
  assets/erc-7738/package.json
  assets/erc-7738/scripts/changeENSOwner.ts
  assets/erc-7738/scripts/deploy.ts
  assets/erc-7738/scripts/updateENSAssigner.ts
  assets/erc-7738/scripts/updateMetadata.ts
  assets/erc-7738/scripts/upgradeRegistry.ts
  assets/erc-7738/test/DecentralisedRegistry.test.ts
  assets/erc-7738/test/NFTRegistryTest.test.ts
  assets/erc-7738/test/PermissionedRegistry.test.ts
  assets/erc-7738/tests.md
  assets/erc-7738/tokenscript/examples/tokenscript.xml
  assets/erc-7738/tokenscript/info.html
  assets/erc-7738/tokenscript/onboard.html
  assets/erc-7738/tokenscript/out/tokenscript.tsml
  assets/erc-7738/tokenscript/setIcon.html
  assets/erc-7738/tokenscript/setName.html
  assets/erc-7738/tokenscript/tokenscript.xml
  assets/erc-7738/tokenscript/updateScript.html
Labels: w-ci, t-erc, s-draft, c-update

#635 Update ERC-7578: Fix permissions on set properties
  ERCS/erc-7578.md
Labels: t-erc, c-update, s-review

#636 Update ERC-7726: errors are not enforced
  ERCS/erc-7726.md
Labels: t-erc, s-draft, c-update

#638 Update ERC-6909: Non-specification Nits
  ERCS/erc-6909.md
Labels: t-erc, s-draft, c-update

#632 Update ERC-7758: Move to Review
  ERCS/erc-7758.md
Labels: t-erc, c-status, s-review, e-review

#585 Add ERC: Tamperproof Web Immutable Transaction (TWIT)
  ERCS/erc-7754.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#648 Update ERC-5173: Update ERC-5173
  ERCS/erc-5173.md
  assets/erc-5173/nFR_distribution_formula.jpg
  assets/erc-5173/nFR_distribution_formula.png
Labels: t-erc, s-draft, c-update

#603 Update ERC-5791: update to v2
  ERCS/erc-5791.md
Labels: t-erc, s-draft, c-update, a-review

#581 Update ERC-4626: Update erc-4626.md to fix the broken link.
  ERCS/erc-4626.md
Labels: w-ci, t-erc, s-final, c-update, e-consensus

#568 Update ERC-7208: Move to Review
  ERCS/erc-7208.md
  assets/erc-7208/contracts/README.md
Labels: t-erc, c-status, s-review, e-review

#655 Update ERC-7432: Move to Final
  ERCS/erc-7432.md
Labels: t-erc, c-status, s-final, e-review

#546 Update ERC-1066: Chore fix docs
  ERCS/erc-1066.md
  ERCS/erc-1077.md
  ERCS/erc-1081.md
Labels: a-review

#657 Update ERC-7417: Update ERC-7417
  ERCS/erc-7417.md
Labels: t-erc, s-draft, c-update

#578 Add ERC: Wrapping of bubbled up reverts
  ERCS/erc-7751.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review
