Repository ethereum/ERCs, pull requests merged in 2024-07, with the labels that each got.

#290 Update ERC-4337: Fix typo
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update, a-review

#206 Add ERC: Signature Validation Extension for Permit
  ERCS/erc-7597.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#519 Update ERC-7208: applies fixes as per community feedback
  ERCS/erc-7208.md
  assets/erc-7208/erc-7208-compat.md
  assets/erc-7208/erc-7208-overview.svg
  assets/erc-7208/erc-7208-technical-overview.svg
Labels: w-ci

#501 Update ERC-7578: Move to Review
  ERCS/erc-7578.md
Labels: t-erc, c-status, s-review, e-review

#466 Add ERC: Lockable Extension for ERC-1155
  ERCS/erc-7721.md
  assets/erc-7721/ERC7721.sol
  assets/erc-7721/IERC7721.sol
Labels: t-erc, c-new, s-review, e-consensus, e-review

#477 Add ERC: ABI specification for REVERT reason string
  ERCS/erc-838.md
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#464 Update ERC-7586: Move to Review
  ERCS/erc-7586.md
Labels: t-erc, c-status, s-review, e-review

#540 Update ERC-1078: Fix docs
  ERCS/erc-1078.md
  ERCS/erc-1129.md
Labels: a-review

#545 Update ERC-7579: Fix typo in ERC-7579
  ERCS/erc-7579.md
Labels: a-review

#202 Add ERC: Collateralized NFT
  ERCS/erc-7595.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#528 Update ERC-3770: Move to Draft
  ERCS/erc-3770.md
Labels: a-review

#533 Update ERC-5630: Move to Draft
  ERCS/erc-5630.md
Labels: a-review

#556 Website: Update ERC-6123 - Streamlined Reference Implementation, added Unit Tests
  ERCS/erc-6123.md
  assets/erc-6123/contracts/ERC20Settlement.sol
  assets/erc-6123/contracts/ISDC.sol
  assets/erc-6123/contracts/SDC.sol
  assets/erc-6123/contracts/SDCPledgedBalance.sol
  assets/erc-6123/doc/sequence.puml
  assets/erc-6123/package.json
  assets/erc-6123/test/SDCTests.js
Labels: e-consensus

#544 CI: Update jekyll-label-bot.yml
  .github/workflows/jekyll-label-bot.yml
Labels: e-consensus
