Repository ethereum/ERCs, pull requests merged in 2024-10, with the labels that each got.

#662 Update ERC-7007: Move to Final
  ERCS/erc-7007.md
Labels: t-erc, c-status, s-final, e-review

#601 Update ERC-6734: Move to Review
  ERCS/erc-6734.md
Labels: w-ci, t-erc, c-status, s-review, e-review

#639 Update ERC-6909: Move to Review
  ERCS/erc-6909.md
Labels: t-erc, c-status, s-review, e-review

#665 Update ERC-7751: Update custom error and add security considerations
  ERCS/erc-7751.md
Labels: t-erc, s-draft, c-update

#661 Update ERC-7579: executeUserOp + multitype module onInstall/onUninstall
  ERCS/erc-7579.md
Labels: t-erc, s-draft, c-update

#667 Update ERC-7578: Update getter and setter methods naming
  ERCS/erc-7578.md
Labels: t-erc, c-update, s-review

#645 Make ERC-7700 Image Optimsations
  assets/erc-7700/fonts/Licenses/Rajdhani.txt
  assets/erc-7700/fonts/Rajdhani.woff2
  assets/erc-7700/images/Database.svg
  assets/erc-7700/images/Keygen.svg
  assets/erc-7700/images/L1.svg
  assets/erc-7700/images/L2.svg
  assets/erc-7700/images/Schema.svg
Labels: e-consensus

#672 CI: Upgrade to eipw 0.9
  .github/workflows/ci.yml
  config/eipw.toml
Labels: e-consensus

#441 Add ERC: Readable Typed Signatures for Smart Accounts
  ERCS/erc-7739.md
  assets/erc-7739/contracts/accounts/ERC1271.sol
  assets/erc-7739/contracts/utils/EIP712.sol
  assets/erc-7739/contracts/utils/LibString.sol
  assets/erc-7739/contracts/utils/SignatureCheckerLib.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#468 Add ERC: Opaque Token
  ERCS/erc-7722.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#348 Add ERC: AI Agent NFTs
  ERCS/erc-7662.md
  assets/erc-7662/ERC7662.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#506 Add ERC: Token with Metadata
  ERCS/erc-7729.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#675 Update ERC-6900: v0.8.0 release candidate
  ERCS/erc-6900.md
  assets/erc-6900/MSCA_Shared_Components_Diagram.svg
  assets/erc-6900/Modular_Account_Call_Flow.svg
  assets/erc-6900/Plugin_Execution_Flow.svg
Labels: w-ci, t-erc, s-draft, c-update

#676 Fix site URL in Jekyll config
  _config.yml
Labels: e-consensus

#677 CI: Bump setup-ruby to v1.196.0
  .github/workflows/ci.yml
  .github/workflows/jekyll.yml
Labels: e-consensus

#678 Update ERC-6909: ERC-6909 nits
  ERCS/erc-6909.md
Labels: w-ci, t-erc, c-update, s-review

#683 Website: Clarify spec and fix issues in associated assets
  ERCS/erc-7738.md
  assets/erc-7738/contracts/DecentralisedRegistryPermissioned.sol
  assets/erc-7738/contracts/IERC7738.sol
  assets/erc-7738/hardhat.config.ts
  assets/erc-7738/package-lock.json
  assets/erc-7738/package.json
  assets/erc-7738/scripts/createRegistryEntry.ts
  assets/erc-7738/scripts/deploy.ts
  assets/erc-7738/scripts/upgradeRegistry.ts
  assets/erc-7738/test/DecentralisedRegistry.test.ts
  assets/erc-7738/test/PermissionedRegistry.test.ts
  assets/erc-7738/tokenscript/onboard.html
  assets/erc-7738/tokenscript/out/tokenscript.tsml
Labels: w-ci, t-erc, s-draft, c-update

#622 Update ERC-5625: Move to Last Call
  ERCS/erc-5625.md
Labels: t-erc, c-status, e-review

#445 Update ERC-7562: Fix typo in section `OP-062`
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update, a-review

#687 Update ERC-7739: Update ERC-7739
  ERCS/erc-7739.md
  assets/erc-7739/contracts/accounts/ERC1271.sol
Labels: t-erc, s-draft, c-update

#660 Add ERC: Governance for Human Robot Societies
  ERCS/erc-7777.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#626 Add ERC: Signature Aggregation for ERC-4337
  ERCS/erc-7766.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#628 Add ERC: JSON-RPC API for ERC-4337
  ERCS/erc-7769.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#682 Add ERC: Conditional send transaction RPC
  ERCS/erc-7796.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#399 Add ERC: ERC-20 Transfer Reference Extension
  ERCS/erc-7699.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#658 Update ERC-7417: Move to Review
  ERCS/erc-7417.md
Labels: t-erc, c-status, s-review, e-review

#680 Add ERC: Grant Registry
  ERCS/erc-7794.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#659 Add ERC: Transparent Financial Statements
  ERCS/erc-7776.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#627 Update ERC-4337: Extract aggregation to a separate ERC
  ERCS/erc-4337.md
Labels: w-ci, t-erc, s-draft, c-update

#689 Update ERC-7683: Extending the standard
  ERCS/erc-7683.md
Labels: t-erc, s-draft, c-update
