Repository ethereum/ERCs, pull requests merged in 2024-03, with the labels that each got.

#289 Update ERC-7627: Correct some text formatting
  ERCS/erc-7627.md
Labels: t-erc, s-draft, c-update, a-review

#271 Add ERC: Dual Nature Token Pair
  ERCS/erc-7631.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#294 Update ERC-5189: ERC-5189 updates
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#213 Update ERC-1363: Add missing return statement
  ERCS/erc-1363.md
Labels: w-ci, t-erc, s-final, c-update, e-consensus

#279 Update ERC-7092: Move to Final
  ERCS/erc-7092.md
Labels: t-erc, c-status, s-final, e-review

#287 Update ERC-7590: Move to Review
  ERCS/erc-7590.md
Labels: t-erc, c-status, s-review, e-review

#209 Update ERC-7007: Move to Review
  ERCS/erc-7007.md
  assets/erc-7007/contracts/ERC7007Enumerable.sol
  assets/erc-7007/contracts/ERC7007Opml.sol
  assets/erc-7007/contracts/ERC7007Zkml.sol
  assets/erc-7007/contracts/IERC7007.sol
  assets/erc-7007/contracts/IERC7007Enumerable.sol
  assets/erc-7007/contracts/IERC7007Updatable.sol
  assets/erc-7007/contracts/IOpmlLib.sol
  assets/erc-7007/contracts/IVerifier.sol
  assets/erc-7007/contracts/MockOpmlLib.sol
  assets/erc-7007/contracts/MockVerifier.sol
  assets/erc-7007/test/test.js
  assets/erc-7007/workflow.png
Labels: t-erc, c-status, s-review, e-review

#298 Update ERC-7508: Several updates 7508.
  ERCS/erc-7508.md
  assets/erc-7508/contracts/AttributesRepository.sol
  assets/erc-7508/contracts/IERC7508.sol
  assets/erc-7508/contracts/mocks/ERC20Mock.sol
  assets/erc-7508/contracts/mocks/OwnableMintableERC721Mock.sol
  assets/erc-7508/package.json
  assets/erc-7508/test/attributesRepository.ts
Labels: t-erc, s-draft, c-update

#301 Update ERC-5573: ERC-5573 typos
  ERCS/erc-5573.md
Labels: t-erc, s-draft, c-update, a-review

#308 Update ERC-5189: ERC5189 Structure and Fee changes
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#111 Add ERC: Contract wallet management NFT
  ERCS/erc-7564.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#127 Add ERC: Perpetual Contract NFTs as Collateral
  ERCS/erc-7565.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#275 Add ERC: Interfaces for Named Token
  ERCS/erc-7632.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#128 Add ERC: Purpose bound money
  ERCS/erc-7291.md
  assets/erc-7291/README.md
  assets/erc-7291/contracts/ERC1155Metadata_URI.sol
  assets/erc-7291/contracts/ERC173.sol
  assets/erc-7291/contracts/IPBMRC1.sol
  assets/erc-7291/contracts/IPBMRC1_TokenManager.sol
  assets/erc-7291/contracts/IPBMRC1_TokenReceiver.sol
  assets/erc-7291/contracts/IPBMRC2.sol
  assets/erc-7291/contracts/IPBM_AddressList.sol
  assets/erc-7291/contracts/PBMRC1.sol
  assets/erc-7291/sample-uri/expiry-static
  assets/erc-7291/sample-uri/grab-10-static
  assets/erc-7291/sample-uri/stx-10-static
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#307 Update ERC-5173: Update erc-5173.md
  ERCS/erc-5173.md
Labels: w-ci, t-erc, s-draft, c-update

#310 Update ERC-5189: ERC-5189 updates
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#311 Update ERC-5189: 5189 typos
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#313 Update ERC-7540: Various Feedback, Add 7575
  ERCS/erc-7540.md
Labels: t-erc, c-update, s-review

#314 Update ERC-7540: Fix reference implementation of ERC-7540
  ERCS/erc-7540.md
Labels: t-erc, c-update, s-review

#319 Update ERC-7632: Update ERC7632
  ERCS/erc-7632.md
Labels: t-erc, s-draft, c-update

#182 Update ERC-777: fix typo
  ERCS/erc-777.md
Labels: w-ci, t-erc, s-final, c-update, e-consensus

#312 Update ERC-7291: Added author
  ERCS/erc-7291.md
Labels: t-erc, s-draft, c-update

#321 Update ERC-7531: Adding rights to ERC7531
  ERCS/erc-7531.md
Labels: t-erc, c-update, s-review

#323 Update ERC-7508: Several improvements on ERC7508.
  ERCS/erc-7508.md
  assets/erc-7508/collection-metadata-example.json
  assets/erc-7508/collection-metadata-schema.json
  assets/erc-7508/contracts/AttributesRepository.sol
  assets/erc-7508/contracts/IERC7508.sol
  assets/erc-7508/hardhat.config.ts
  assets/erc-7508/test/attributesRepository.ts
Labels: t-erc, s-draft, c-update

#325 Update ERC-7508: Improvements on ERC7508.
  ERCS/erc-7508.md
  assets/erc-7508/contracts/AttributesRepository.sol
  assets/erc-7508/contracts/IERC7508.sol
  assets/erc-7508/test/attributesRepository.ts
Labels: t-erc, s-draft, c-update

#329 Update ERC-7572: remove aspect ratio suggestion from featured_image
  ERCS/erc-7572.md
Labels: t-erc, s-draft, c-update

#178 Add ERC: Interest Rate Swaps
  ERCS/erc-7586.md
  assets/erc-7586/ERC7586.sol
  assets/erc-7586/IERC7586.sol
  assets/erc-7586/Tokens/ERC20.sol
  assets/erc-7586/Tokens/IERC20.sol
  assets/erc-7586/irs.jpeg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#326 Update ERC-7631: Update ERC-7631
  ERCS/erc-7631.md
Labels: t-erc, s-draft, c-update, a-review

#331 Update ERC-7529: Better strategy for eTLD+1 storage and querying
  ERCS/erc-7529.md
Labels: t-erc, s-draft, c-update

#332 Update ERC-7631: Fix interface code comments
  ERCS/erc-7631.md
Labels: t-erc, s-draft, c-update

#153 Add ERC: Conditional-upon-Transfer-Decryption for DvP
  ERCS/erc-7573.md
  assets/erc-7573/contracts/IDecryptionContract.sol
  assets/erc-7573/contracts/ILockingContract.sol
  assets/erc-7573/doc/DvP-Seq-Diag.png
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#335 Update ERC-7540: Simplify ERC7575
  ERCS/erc-7540.md
  ERCS/erc-7575.md
Labels: t-erc, s-draft, c-update, s-review

#336 Update ERC-7575: Fix typos in ERC7575
  ERCS/erc-7575.md
Labels: t-erc, s-draft, c-update

#340 Update ERC-7531: Adding ierc7531 rights
  ERCS/erc-7531.md
Labels: t-erc, c-update, s-review

#345 Update ERC-7573: Feature/erc 7573 finalizing
  ERCS/erc-7573.md
Labels: w-ci, t-erc, s-draft, c-update

#338 Config: Allow links to execution-spec-tests
  config/eipw.toml
Labels: e-consensus

#305 Add ERC: Fractionally Represented Non-Fungible Token
  ERCS/erc-7651.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#207 Add ERC: Use contract signature for signed transfer
  ERCS/erc-7598.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#351 Update ERC-7529: changed `getDomain` to `checkDomain` for better clarity of function purpose
  ERCS/erc-7529.md
Labels: t-erc, s-draft, c-update

#350 Update ERC-7631: Grammar updates
  ERCS/erc-7631.md
Labels: t-erc, s-draft, c-update
