Repository ethereum/ERCs, pull requests merged in 2024-11, with the labels that each got.

#701 Update ERC-7751: Relicense code snippet
  ERCS/erc-7751.md
Labels: t-erc, s-draft, c-update

#703 Update ERC-7683: fix typos
  ERCS/erc-7683.md
Labels: t-erc, s-draft, c-update, a-review

#685 Website: Minor fixes of names
  ERCS/erc-6123.md
  assets/erc-6123/contracts/ERC20Settlement.sol
  assets/erc-6123/contracts/IERC20Settlement.sol
  assets/erc-6123/contracts/ISDC.sol
  assets/erc-6123/contracts/SDCSingleTrade.sol
  assets/erc-6123/contracts/SDCSingleTradePledgedBalance.sol
  assets/erc-6123/doc/sequence.puml
  assets/erc-6123/doc/sequence.svg
  assets/erc-6123/package.json
  assets/erc-6123/test/SDCTests.js
Labels: t-erc, s-draft, c-update

#714 Update ERC-6123: Fixes to reference implementation of Settlement Token
  ERCS/erc-6123.md
  assets/erc-6123/contracts/ERC20Settlement.sol
  assets/erc-6123/contracts/ISDC.sol
  assets/erc-6123/contracts/SDCSingleTradePledgedBalance.sol
  assets/erc-6123/package.json
Labels: t-erc, s-draft, c-update, e-consensus

#716 Update ERC-7699: Update erc-7699.md - suggested minor fixes
  ERCS/erc-7699.md
Labels: t-erc, s-draft, c-update

#717 Update ERC-7496: Update erc-7496.md - trait metadata as required
  ERCS/erc-7496.md
Labels: t-erc, s-draft, c-update

#720 Update ERC-7208: community feedback + reference implementation
  ERCS/erc-7208.md
  assets/erc-7208/contracts/DataPointRegistry.sol
  assets/erc-7208/contracts/README.md
  assets/erc-7208/contracts/datamanagers/MinimalisticERC1155WithERC20FractionsDataManager.sol
  assets/erc-7208/contracts/datamanagers/MinimalisticERC20FractionDataManager.sol
  assets/erc-7208/contracts/datamanagers/MinimalisticERC20FractionDataManagerFactory.sol
  assets/erc-7208/contracts/dataobjects/MinimalisticFungibleFractionsDO.sol
  assets/erc-7208/contracts/interfaces/IDataIndex.sol
  assets/erc-7208/contracts/interfaces/IDataObject.sol
  assets/erc-7208/contracts/interfaces/IDataPointRegistry.sol
  assets/erc-7208/contracts/interfaces/IFractionTransferEventEmitter.sol
  assets/erc-7208/contracts/interfaces/IFungibleFractionsOperations.sol
  assets/erc-7208/contracts/interfaces/IIDManager.sol
  assets/erc-7208/contracts/utils/ChainidTools.sol
  assets/erc-7208/contracts/utils/DataPoints.sol
  assets/erc-7208/contracts/utils/OmnichainAddresses.sol
  assets/erc-7208/erc-7208-compat.md
Labels: t-erc, c-update, s-review

#725 Update ERC-7208: update authors
  ERCS/erc-7208.md
Labels: t-erc, c-update, s-review

#539 Add ERC: Multi-Owner Non-Fungible Tokens (MO-NFT)
  ERCS/erc-7743.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#733 Update ERC-7743: Include Reference Implementation and Finalize MO-NFT Standard
  ERCS/erc-7743.md
  assets/erc-7743/DigitalAsset.sol
  assets/erc-7743/IDigitalAsset.sol
  assets/erc-7743/MONFT.sol
Labels: w-ci, t-erc, s-draft, c-update

#736 Update ERC-7579: specify executeFromExecutor return data type
  ERCS/erc-7579.md
Labels: t-erc, s-draft, c-update

#737 Update ERC-7743: Remove email & format document
  ERCS/erc-7743.md
Labels: t-erc, s-draft, c-update

#739 Update ERC-7722: added Ante and Mirko as maintainer
  ERCS/erc-7722.md
Labels: t-erc, s-draft, c-update

#390 Add ERC: Solana Storage Router
  ERCS/erc-7694.md
  assets/erc-7694/images/Schema.svg
  assets/erc-7694/images/Solana.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review
