Repository ethereum/ERCs, pull requests merged in 2024-12, with the labels that each got.

#745 Update ERC-6900: IModularAccountView changes
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update

#747 Update ERC-7208: applying feedback from auditors
  ERCS/erc-7208.md
Labels: t-erc, c-update, s-review

#671 ERC-7700: Include fonts and licenses explicitly within SVG assets
  assets/erc-7700/fonts/Licenses/Rajdhani.txt
  assets/erc-7700/fonts/Rajdhani.woff2
  assets/erc-7700/images/Database.svg
  assets/erc-7700/images/Keygen.svg
  assets/erc-7700/images/L1.svg
  assets/erc-7700/images/L2.svg
  assets/erc-7700/images/Schema.svg
Labels: e-consensus

#673 Add ERC: Cross-Chain Messaging Gateway
  ERCS/erc-7786.md
  assets/erc-7786/send-execute.mermaid
  assets/erc-7786/send-execute.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#754 Update ERC-6900: Clean up comments
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update

#702 Update ERC-7751: Move to Review
  ERCS/erc-7751.md
Labels: t-erc, c-status, s-review, e-review

#704 Update ERC-5625: Move to Final
  ERCS/erc-5625.md
Labels: t-erc, c-status, s-final, e-review

#757 Update ERC-7722: describe events and roles
  ERCS/erc-7722.md
Labels: t-erc, s-draft, c-update

#693 Add ERC: EIP-712 Extensions for Account Abstraction
  ERCS/erc-7803.md
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#663 Add ERC: Interoperable Delegated Accounts
  ERCS/erc-7779.md
  assets/erc-7779/diagram.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#637 Update ERC-1078: Typo ERC-1078
  ERCS/erc-1078.md
Labels: t-erc, c-update, s-stagnant, e-review

#674 Add ERC: Soulbound Degradable Governance
  ERCS/erc-7787.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#718 Add ERC: Expirable ERC-20
  ERCS/erc-7818.md
  assets/erc-7818/.gitignore
  assets/erc-7818/README.md
  assets/erc-7818/contracts/IERC7818.sol
  assets/erc-7818/contracts/MockERC20Expirable.sol
  assets/erc-7818/contracts/abstracts/ERC20Expirable.sol
  assets/erc-7818/contracts/libraries/SlidingWindow.sol
  assets/erc-7818/contracts/libraries/SortedList.sol
  assets/erc-7818/hardhat.config.ts
  assets/erc-7818/implementation.svg
  assets/erc-7818/package.json
  assets/erc-7818/test/ERC7818/Burn.test.ts
  assets/erc-7818/test/ERC7818/General.test.ts
  assets/erc-7818/test/ERC7818/Mint.test.ts
  assets/erc-7818/test/ERC7818/Transfer.test.ts
  assets/erc-7818/test/ERC7818/TransferFrom.test.ts
  assets/erc-7818/test/ERC7818/index.test.ts
  assets/erc-7818/test/constant.test.ts
  assets/erc-7818/test/index.test.ts
  assets/erc-7818/test/utils.test.ts
  assets/erc-7818/tsconfig.json
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#765 Update ERC-6900: Security considerations update with addressed comments
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update

#764 Update ERC-7562: Update ERC-7562 rules to add EIP-7702 authorizations support
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#433 Add ERC: Smart Contract Delegation
  ERCS/erc-7710.md
  assets/erc-7710/diagram.svg
  assets/erc-7710/mermaid.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#656 Update ERC-3668: fix typo in erc3668 lookup process
  ERCS/erc-3668.md
Labels: w-ci, t-erc, s-final, c-update, e-consensus

#652 Add ERC: Cache invalidation in ERC-5219 mode Web3 URL
  ERCS/erc-7774.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#726 Add ERC: Minimal Batch Executor Interface
  ERCS/erc-7821.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#770 Update ERC-7521: updated to reflect reference implementation optimizations
  ERCS/erc-7521.md
Labels: w-ci, t-erc, s-draft, c-update

#771 Update ERC-6900: wording simplification and corrections
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update

#517 Add ERC: Decentralized Identity Verification (DID)
  ERCS/erc-7734.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#698 Update ERC-7656: Move to Last Call
  ERCS/erc-7656.md
  assets/erc-7656/ERC7656Registry.sol
Labels: t-erc, c-status, e-review

#781 Update ERC-7786: ERC-7786 update
  ERCS/erc-7786.md
Labels: t-erc, s-draft, c-update

#783 Update ERC-7683: Fix swapped `orderData` and `originData` erc-7683.md
  ERCS/erc-7683.md
Labels: t-erc, s-draft, c-update, a-review

#785 Update ERC-7683: Add clause about not knowing minOutput.recipient at order creation time
  ERCS/erc-7683.md
Labels: t-erc, s-draft, c-update

#786 Update ERC-7821: Fix return type of `supportsExecutionMode` in interface definition.
  ERCS/erc-7821.md
Labels: t-erc, s-draft, c-update, a-review

#787 Update ERC-7821: Add comment on allowing entry point for execute
  ERCS/erc-7821.md
Labels: t-erc, s-draft, c-update

#760 Update ERC-7746: Move to Review
  ERCS/erc-7746.md
Labels: t-erc, c-status, s-review, e-review

#763 Update ERC-7820: Move to Review
  ERCS/erc-7820.md
Labels: t-erc, c-status, s-review, e-review

#776 Update ERC-7734: Move to Review
  ERCS/erc-7734.md
Labels: t-erc, c-status, s-review, e-review

#789 Update ERC-5173: Abstract
  ERCS/erc-5173.md
Labels: t-erc, s-draft, c-update

#790 Update ERC-7683: fix incorrect type and comment
  ERCS/erc-7683.md
Labels: t-erc, s-draft, c-update

#796 Update ERC-7555: fix typo
  ERCS/erc-7555.md
Labels: t-erc, s-draft, c-update, a-review

#810 Update ERC-7579: Make ERC165 optional and clarify payable execution
  ERCS/erc-7579.md
Labels: t-erc, s-draft, c-update, a-review

#818 Update ERC-7579: hook clarifications
  ERCS/erc-7579.md
Labels: t-erc, s-draft, c-update

#573 Add ERC: Decentralized Employment System
  ERCS/erc-7750.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#819 Update ERC-7578: Move to Last Call
  ERCS/erc-7578.md
Labels: t-erc, c-status, a-review

#820 Update ERC-7208: Move to Last Call
  ERCS/erc-7208.md
Labels: t-erc, c-status, a-review

#666 Add ERC: Validation Module Extension for ERC-7579
  ERCS/erc-7780.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review
