Repository ethereum/ERCs, pull requests merged in 2024-04, with the labels that each got.

#179 Update ERC-5453: fix typos
  ERCS/erc-5453.md
Labels: t-erc, c-update, a-review, w-stale

#186 Add ERC: Semi-Fungible Token Roles
  ERCS/erc-7589.md
  assets/erc-7589/ERC7589.sol
  assets/erc-7589/interfaces/ICommitTokensAndGrantRoleExtension.sol
  assets/erc-7589/interfaces/ISftRolesRegistry.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#355 Update ERC-7528: Move to Final
  ERCS/erc-7528.md
Labels: t-erc, c-status, s-final, e-review

#357 Update ERC-1123: remove repetitive words
  ERCS/erc-1123.md
  ERCS/erc-1132.md
  ERCS/erc-1444.md
  ERCS/erc-2019.md
  ERCS/erc-2021.md
  ERCS/erc-2304.md
  ERCS/erc-2335.md
  ERCS/erc-2678.md
  ERCS/erc-2917.md
  ERCS/erc-3668.md
  ERCS/erc-5131.md
  ERCS/erc-5185.md
  ERCS/erc-5289.md
  ERCS/erc-6384.md
  ERCS/erc-6956.md
  ERCS/erc-6981.md
  ERCS/erc-7053.md
  ERCS/erc-998.md
Labels: w-ci, t-erc, s-draft, s-final, c-update, s-review, s-stagnant, s-withdrawn, e-consensus

#365 Update ERC-7572: add symbol to contractURI schema
  ERCS/erc-7572.md
Labels: t-erc, s-draft, c-update

#366 Update ERC-7496: update author github handle
  ERCS/erc-7496.md
Labels: t-erc, s-draft, c-update

#39 Add ERC: Upgradeable Clone for Scalable Contracts
  ERCS/erc-7546.md
  assets/erc-7546/images/comparison-with-beacon.svg
  assets/erc-7546/images/comparison-with-diamond.svg
  assets/erc-7546/images/usecases.svg
  assets/erc-7546/src/Dictionary.sol
  assets/erc-7546/src/Proxy.sol
  assets/erc-7546/test/Dictionary.spec.t.sol
  assets/erc-7546/test/Proxy.spec.t.sol
  assets/erc-7546/test/UCS.usecase.t.sol
  assets/erc-7546/test/utils/Dummy.sol
  assets/erc-7546/test/utils/Helper.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#251 Add ERC: Basket Token
  ERCS/erc-7621.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#259 Update ERC-6538: Move to Review
  ERCS/erc-6538.md
  assets/erc-6538/contracts/ERC6538Registry.sol
  assets/erc-6538/contracts/interfaces/IERC6538Registry.sol
Labels: t-erc, c-status, s-review, a-review

#263 Add ERC: Flash Loans
  ERCS/erc-7399.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#373 Update ERC-7531: Fix typo in IERC7531
  ERCS/erc-7531.md
Labels: t-erc, c-update, s-review

#374 Update ERC-7484: add internal attesters and simplify querying
  ERCS/erc-7484.md
Labels: t-erc, s-draft, c-update

#317 Update ERC-7231: Corrected typos inside document lines.
  ERCS/erc-7231.md
Labels: t-erc, s-final, c-update, e-consensus

#352 Config: Sync eip-editors.yml
  config/eip-editors.yml
Labels: e-consensus

#375 Add ERC: Cross Chain Intents
  ERCS/erc-7683.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#376 Update ERC-5485: Move to Draft
  ERCS/erc-5485.md
Labels: t-erc, c-status, s-draft

#177 Add ERC: MixHash and Public Data Storage Proofs
  ERCS/erc-7585.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#327 Add ERC: Generalized Token-Linked Contracts
  ERCS/erc-7656.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#245 Add ERC: Chunk support for ERC-5219 mode in Web3 URL
  ERCS/erc-7617.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#60 Add ERC: Subscription-Based Token
  ERCS/erc-6932.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#381 Update ERC-7531: Fix typo and remove unnecessary specifications
  ERCS/erc-7531.md
Labels: t-erc, c-update, s-review

#282 Add ERC: Batch Calls Encoding in SCA
  ERCS/erc-7638.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#292 Add ERC: ERC-721 Name Registry Extension
  ERCS/erc-7644.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#337 Update ERC-7575: Move to Review
  ERCS/erc-7575.md
Labels: t-erc, c-status, s-review, e-review

#322 Update ERC-5564: Move to Last Call
  ERCS/erc-5564.md
  assets/erc-5564/contracts/ERC5564Announcer.sol
  assets/erc-5564/contracts/interfaces/IERC5564Announcer.sol
  assets/erc-5564/scheme_ids.md
Labels: t-erc, c-status, a-review

#383 Update ERC-7399: Provided clarity around `maxFlashLoan`
  ERCS/erc-7399.md
Labels: t-erc, s-draft, c-update

#384 Update ERC-6900: Add coauthors from Circle team
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update, a-review

#242 Add ERC: PLUME Signature in Wallets
  ERCS/erc-7524.md
  assets/erc-7524/sec1-v2.pdf
  assets/erc-7524/sec2-v2.pdf
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#393 Config: add caip
  config/eipw.toml
Labels: e-consensus

#53 Add ERC: Vanilla Options for ERC-20 Tokens
  ERCS/erc-7390.md
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#201 Update ERC-7201: Fix solidity formula
  ERCS/erc-7201.md
Labels: t-erc, s-final, c-update, e-consensus, w-stale

#165 Add ERC: Advertisement Tracking Interface
  ERCS/erc-7580.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#397 Update ERC-7506: 5539 Draft Update
  ERCS/erc-7506.md
Labels: t-erc, s-draft, c-update, a-review

#400 Update ERC-7540: Spell check ERC7540 and ERC7575
  ERCS/erc-7540.md
  ERCS/erc-7575.md
Labels: t-erc, c-update, s-review
