Repository ethereum/ERCs, pull requests merged in 2024-05, with the labels that each got.

#410 Update ERC-7540: Add operator functionality to ERC-7540
  ERCS/erc-7540.md
Labels: t-erc, c-update, s-review

#413 Update ERC-5189: EIP-5189 typos
  ERCS/erc-5189.md
Labels: t-erc, s-draft, c-update

#415 Update ERC-6900: add co-author names (#8)
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update, a-review

#418 Update ERC-7562: Updte ERC-7562 with the latest state from the 'account-abstraction' repo
  ERCS/erc-7562.md
Labels: w-ci, t-erc, s-draft, c-update

#420 Update ERC-7562: Update erc-7562.md
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#422 Update ERC-7578: Refactoring & OpenZeppelin v5 Support
  ERCS/erc-7578.md
Labels: t-erc, s-draft, c-update

#423 Update ERC-7496: remove acceptableValues (redundant with valueMappings)
  ERCS/erc-7496.md
  assets/erc-7496/DynamicTraitsSchema.json
Labels: t-erc, s-draft, c-update

#424 Update ERC-7432: Removed non-unique roles
  ERCS/erc-7432.md
  assets/erc-7432/ERC7432.sol
  assets/erc-7432/interfaces/IERC7432.sol
Labels: t-erc, c-update, s-review

#426 Update ERC-7578: Updated ERC-7578 - Documentation Updates
  ERCS/erc-7578.md
Labels: t-erc, s-draft, c-update

#185 Add ERC: Blob Transactions Metadata JSON Schema
  ERCS/erc-7588.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#430 Update ERC-7578: Minor implementation update
  ERCS/erc-7578.md
Labels: t-erc, s-draft, c-update

#432 Update ERC-7540: Update ERC7540 and ERC7575
  ERCS/erc-7540.md
  ERCS/erc-7575.md
Labels: t-erc, c-update, s-review

#285 Update ERC-6672: Update erc-6672.md
  ERCS/erc-6672.md
Labels: t-erc, s-final, c-update, e-consensus

#405 Update ERC-5585: ERC-721 NFT Authoriza…
  ERCS/erc-5585.md
Labels: t-erc, s-final, c-update, e-consensus

#304 Update ERC-2135: fix some typos
  ERCS/erc-2135.md
  ERCS/erc-2615.md
  ERCS/erc-4527.md
  ERCS/erc-5023.md
  ERCS/erc-5252.md
  ERCS/erc-5521.md
  ERCS/erc-6105.md
  ERCS/erc-6120.md
Labels: t-erc, s-final, c-update, s-review, s-stagnant, e-consensus

#395 Update ERC-1077: Remove repetitive words
  ERCS/erc-1077.md
  ERCS/erc-2309.md
  ERCS/erc-3448.md
Labels: w-ci, t-erc, s-final, c-update, s-stagnant, e-consensus

#246 Add ERC: Content encoding in ERC-5219 mode Web3 URL
  ERCS/erc-7618.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#434 Update ERC-6123: Updates and Fixes in ERC-6123
  ERCS/erc-6123.md
  assets/erc-6123/README.md
  assets/erc-6123/contracts/SDC.sol
  assets/erc-6123/contracts/SDCPledgedBalance.sol
  assets/erc-6123/contracts/SDCToken.sol
  assets/erc-6123/doc/sdc_lifecycle_sequence_diagram.png
  assets/erc-6123/doc/sdc_trade_and_process_states.png
  assets/erc-6123/doc/sequence.puml
  assets/erc-6123/doc/sequence.svg
Labels: w-ci, t-erc, s-draft, c-update

#437 Update ERC-7208: Update interfaces according to community feedback
  ERCS/erc-7208.md
Labels: t-erc, s-draft, c-update

#438 Update ERC-6551: Add hardfork protection to reference implementation
  ERCS/erc-6551.md
Labels: t-erc, c-update, s-review

#439 Update ERC-7618: Add a clarification suggested by @SamWilsn
  ERCS/erc-7618.md
Labels: t-erc, s-draft, c-update

#223 Add ERC: ERC-1155 Permit Approvals
  ERCS/erc-7604.md
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#440 Update ERC-7656: Rename IERC7656Contract as IER7656Linked
  ERCS/erc-7656.md
Labels: t-erc, s-draft, c-update

#443 Update ERC-7575: ERC7575 clarifications
  ERCS/erc-7575.md
Labels: t-erc, c-update, s-review

#444 Update ERC-4337: return values of estimateUserOperationGas
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#316 Update ERC-6220: fix Import path in EquipRenderUtils.sol
  assets/erc-6220/contracts/utils/EquipRenderUtils.sol
Labels: e-consensus

#300 Add ERC: Bonding curve-embedded liquidity for NFTs
  ERCS/erc-7649.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#408 Update ERC-6538: Move to Last Call
  ERCS/erc-6538.md
Labels: t-erc, c-status, e-review

#446 Update ERC-7575: ERC7575 fixes
  ERCS/erc-7575.md
Labels: t-erc, c-update

#447 Update ERC-7578: PropertiesRemoved Event
  ERCS/erc-7578.md
Labels: t-erc, s-draft, c-update

#448 Update ERC-7540: Fix ERC7540 typo
  ERCS/erc-7540.md
Labels: t-erc, c-update, s-review

#451 Update ERC-7540: ERC7540 rename `requester` => `controller`
  ERCS/erc-7540.md
Labels: t-erc, c-update, s-review

#452 Update ERC-6551: Update erc-6551.md
  ERCS/erc-6551.md
Labels: t-erc, c-update, s-review

#454 Update ERC-7540: Update ERC7540
  ERCS/erc-7540.md
Labels: t-erc, c-update, s-review

#284 Website: Intrinsic RevShare Token
  ERCS/erc-7641.md
  assets/erc-7641/.gitignore
  assets/erc-7641/ERC7641.js
  assets/erc-7641/ERC7641.sol
  assets/erc-7641/IERC7641.sol
  assets/erc-7641/IERC7641AltRevToken.sol
  assets/erc-7641/README.md
  assets/erc-7641/contracts/ERC7641.sol
  assets/erc-7641/contracts/IERC7641.sol
  assets/erc-7641/contracts/IERC7641AltRevToken.sol
  assets/erc-7641/hardhat.config.js
  assets/erc-7641/package.json
  assets/erc-7641/test/ERC7641.js
Labels: t-erc, s-draft, c-new, e-consensus, e-review
