Repository ethereum/ERCs, pull requests merged in 2025-02, with the labels that each got.

#710 Add ERC: ZK Identity Registry
  ERCS/erc-7812.md
  assets/erc-7812/circuits/SparseMerkleTree.circom
  assets/erc-7812/contracts/SparseMerkleTree.sol
  assets/erc-7812/images/diagram.png
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#867 Update ERC-7627: Move to Last Call
  ERCS/erc-7627.md
Labels: t-erc, c-status, e-review

#842 Update ERC-7750: Move to Review
  ERCS/erc-7750.md
Labels: t-erc, c-status, s-review, e-review

#793 Update ERC-7743: Move to Review
  ERCS/erc-7743.md
Labels: t-erc, c-status, s-review, e-review

#759 Add ERC: Diffusive Tokens
  ERCS/erc-7837.md
  assets/erc-7837/DiffusiveToken.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#862 Update ERC-7751: Move to Final
  ERCS/erc-7751.md
Labels: t-erc, c-status, s-final, e-review

#891 Update ERC-7656: Add authors to reference implementation
  ERCS/erc-7656.md
  assets/erc-7656/ERC7656Registry.sol
Labels: t-erc, c-update, e-consensus

#895 Update ERC-7812: Update ERC-7812 deployment address
  ERCS/erc-7812.md
Labels: t-erc, s-draft, c-update

#884 Update ERC-7818: Move to Final
  ERCS/erc-7818.md
Labels: t-erc, c-status, s-final, e-review

#436 Add ERC: Grant Permissions from Wallets
  ERCS/erc-7715.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#901 Update ERC-7562: Update blocked opcodes with blob opcodes
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#870 Update ERC-7528: update required EIP for ETH (Native Asset) Address Convention
  ERCS/erc-7528.md
Labels: t-erc, s-final, c-update, e-consensus

#902 Update ERC-7769: Update 7769
  ERCS/erc-7769.md
Labels: t-erc, s-draft, c-update

#882 Update ERC-4337: Update ERC-4337 and ERC-7769 with EIP-712 and EIP-7702 support
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#898 Update ERC-7715: Replace mermaid diagrams with SVGs
  ERCS/erc-7715.md
  assets/erc-7715/approve-flow.svg
  assets/erc-7715/erc7679-flow.svg
Labels: t-erc, s-draft, c-update

#903 Update ERC-4883: Update erc-4883.md
  ERCS/erc-4883.md
Labels: t-erc, s-draft, c-update

#908 Update ERC7656: Minor text changes before finalizing
  ERCS/erc-7656.md
Labels: t-erc, c-update

#910 Update ERC-7796: The correct EIP-7702 code prefix is '0xef0100' not '0xef01'
  ERCS/erc-7796.md
Labels: t-erc, s-draft, c-update

#915 Update ERC-4337: removing ercs from required field
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#912 Update ERC-4337: Add the 'receive()' function to the public interface
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#911 Update ERC-4337: Replace references to EIP-3074 with EIP-7702
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#914 Update ERC-4337: Add link to ERC-7796 'eth_sendRawTransactionConditional'
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#921 Update ERC-3668: Update typo in erc-3668.md
  ERCS/erc-3668.md
Labels: t-erc, s-final, c-update, e-consensus

#756 Update ERC-7754: typos in documentation files
  ERCS/erc-7754.md
Labels: t-erc, s-draft, c-update, a-review

#928 Update ERC-7562: Updated erc 7562
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#927 Update ERC-4337: Updated ERC-4337
  ERCS/erc-4337.md
  assets/erc-4337/bundle-build-full-seq.svg
  assets/erc-4337/bundle-seq-pm.svg
  assets/erc-4337/bundle-seq.svg
  assets/erc-4337/diagrams.md
Labels: t-erc, s-draft, c-update
