Repository ethereum/ERCs, pull requests merged in 2025-07, with the labels that each got.

#1099 Update ERC-6224: Move to Last Call
  ERCS/erc-6224.md
Labels: t-erc, c-status, e-review

#779 Add ERC: Wallet Connection API
  ERCS/erc-7846.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#758 Add ERC: Wallet Call Preparation API
  ERCS/erc-7836.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1080 Add ERC: Owner-Authorized Token Transfer Protocol
  ERCS/erc-7968.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1120 Update ERC-7631: Move to Final
  ERCS/erc-7631.md
Labels: t-erc, c-status, s-final, e-review

#1116 Update ERC-7744: Move to Last Call
  ERCS/erc-7744.md
Labels: t-erc, c-status, e-review

#1103 Update ERC-5725: Remove duplicate word and fix some typos
  ERCS/erc-5725.md
Labels: w-ci, t-erc, s-final, c-update, e-consensus

#856 Update ERC-6506: Update erc-6506.md
  ERCS/erc-6506.md
Labels: t-erc, c-update, s-stagnant, a-review

#985 Update ERC-5850: Fix some typos
  ERCS/erc-5850.md
Labels: t-erc, c-update, s-stagnant, a-review

#1121 Update ERC-7765: Fix some typos
  assets/erc-7765/contracts/ERC7765Example.sol
Labels: e-consensus

#1122 Update ERC-6358: Fix some typos
  assets/erc-6358/src/contracts/ERC6358FungibleExample.sol
  assets/erc-6358/src/contracts/ERC6358NonFungibleExample.sol
  assets/erc-6358/src/contracts/interfaces/IERC6358.sol
  assets/erc-6358/src/contracts/interfaces/IERC6358Application.sol
  assets/erc-6358/src/contracts/libraries/OmniverseProtocolHelper.sol
Labels: e-consensus

#1108 Update ERC-223: fix a minor typo
  ERCS/erc-223.md
Labels: t-erc, s-final, c-update, e-consensus

#1128 Update ERC-7858: Add use case in motivation and point new security considerations
  ERCS/erc-7858.md
Labels: t-erc, c-update, s-review

#1130 Update ERC-7508: Fix some typos
  ERCS/erc-7508.md
  assets/erc-7508/contracts/AttributesRepository.sol
  assets/erc-7508/contracts/IERC7508.sol
Labels: t-erc, s-draft, c-update, a-review

#1131 Update ERC-7780: Fix some typos
  ERCS/erc-7780.md
Labels: t-erc, s-draft, c-update, a-review

#1134 Update ERC-7878: Move to Last Call
  ERCS/erc-7878.md
Labels: t-erc, c-status, e-review

#1141 Update ERC-7913: Update last-call-deadline
  ERCS/erc-7913.md
Labels: t-erc, c-update
