Repository ethereum/ERCs, pull requests merged in 2025-01, with the labels that each got.

#828 Update ERC-7656: Improve security considerations
  ERCS/erc-7656.md
Labels: t-erc, c-update

#831 Update ERC-7527: Update erc-7527.md Agency's description() function
  ERCS/erc-7527.md
Labels: t-erc, s-draft, c-update

#706 Update ERC-7777: Update erc-7777.md
  ERCS/erc-7777.md
Labels: t-erc, s-draft, c-update, a-review

#830 Update ERC-7751: Move to Last Call
  ERCS/erc-7751.md
Labels: t-erc, c-status, e-review

#791 Update ERC-7734: Move to Last Call
  ERCS/erc-7734.md
Labels: t-erc, c-status, e-review

#832 Update ERC-7777: Move to Review
  ERCS/erc-7777.md
Labels: t-erc, c-status, s-review, e-review

#826 Update ERC-7818: Move to Review
  ERCS/erc-7818.md
  assets/erc-7818/README.md
Labels: t-erc, c-status, s-review, e-review

#836 Update ERC-7786: Add background to diagram
  ERCS/erc-7786.md
  assets/erc-7786/send-execute.png
  assets/erc-7786/send-execute.svg
Labels: t-erc, s-draft, c-update

#839 Update ERC-7683: Update comments about usage of Gasless vs Onchain Order structs
  ERCS/erc-7683.md
Labels: t-erc, s-draft, c-update

#838 Update ERC-6860: typos
  ERCS/erc-6860.md
Labels: t-erc, s-draft, c-update, a-review

#843 Update ERC-7573: Added releaseKey method to IDecryptionContract
  ERCS/erc-7573.md
  assets/erc-7573/contracts/IDecryptionContract.sol
  assets/erc-7573/doc/DvP-Seq-Diag.png
Labels: t-erc, s-draft, c-update

#845 Update ERC-7562: replace by fee reputation.
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#846 Update ERC-7821: Update motivation
  ERCS/erc-7821.md
Labels: t-erc, s-draft, c-update

#775 Update ERC-7562: AA-486 add creation rules OP-31, EREP-60, EREP-61
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#847 Update ERC-7821: Fix incorrect code comment
  ERCS/erc-7821.md
Labels: t-erc, s-draft, c-update

#849 Update ERC-7562: Update erc-7562.md
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#749 Add ERC: Multi-Chain Addressing
  ERCS/erc-7831.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#795 Update ERC-7015: fix typo
  ERCS/erc-7015.md
Labels: t-erc, c-update, s-review, a-review

#833 Update ERC-7734: Move to Final
  ERCS/erc-7734.md
Labels: t-erc, c-status, s-final, e-review

#834 Update ERC-7820: Move to Final
  ERCS/erc-7820.md
Labels: t-erc, c-status, s-final, e-review

#859 Update ERC-7208: Move to Final
  ERCS/erc-7208.md
Labels: t-erc, c-status, s-final, e-review

#840 Update ERC-7818: Move to Last Call
  ERCS/erc-7818.md
Labels: t-erc, c-status, e-review

#872 Update ERC-7821: Add batch of batches mode
  ERCS/erc-7821.md
Labels: t-erc, s-draft, c-update

#873 Update ERC-6120: Update ERC-6120
  ERCS/erc-6120.md
Labels: t-erc, c-update, s-review

#681 Add ERC: Wallet Call Token Capabilities
  ERCS/erc-7795.md
  assets/erc-7795/eoa_example.mmd
  assets/erc-7795/eoa_example.svg
  assets/erc-7795/generateMermaidSvg.sh
  assets/erc-7795/sc_example.mmd
  assets/erc-7795/sc_example.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#629 Update ERC-4337: Extract new JSON-RPC APIs to a separate ERC
  ERCS/erc-4337.md
Labels: w-ci, t-erc, s-draft, c-update
