Repository ethereum/ERCs, pull requests merged in 2025-05, with the labels that each got.

#1004 Update ERC-4337: correct the incorrect description about the aggregator contract
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update, a-review

#969 fix dead link `Foundry ` README.md
  assets/erc-5218/contracts/README.md
Labels: e-consensus

#993 Add ERC: Composite EIP-712 Signatures
  ERCS/erc-7920.md
  assets/erc-7920/contracts/ExampleVerifier.sol
  assets/erc-7920/src/eth_signTypedData_v5.ts
  assets/erc-7920/src/merkle.ts
  assets/erc-7920/test/merkle.test.ts
  assets/erc-7920/test/solidity.test.ts
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1031 Update ERC-7878: Move to Review
  ERCS/erc-7878.md
Labels: t-erc, c-status, s-review, e-review

#1023 Update ERC-7858: Move to Review
  ERCS/erc-7858.md
Labels: t-erc, c-status, s-review, e-review

#918 Update ERC-7743: Move to Last Call
  ERCS/erc-7743.md
  assets/erc-7743/MONFT.sol
Labels: t-erc, c-status, e-review

#887 Update ERC-7291: Move to Review
  ERCS/erc-7291.md
Labels: t-erc, c-status, s-review, a-review

#983 Update ERC-7634: Move to Review
  ERCS/erc-7634.md
Labels: t-erc, c-status, s-review, e-review

#752 Add ERC: Sustainable collaborative NFT collections
  ERCS/erc-7832.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#953 Update ERC-3009: fix dead links
  ERCS/erc-3009.md
  ERCS/erc-721.md
  assets/erc-3009/EIP2612.sol
  assets/erc-3009/EIP3009.sol
  assets/erc-3009/LICENSE
  assets/erc-721/LICENSE
  assets/erc-721/SafeERC20.sol
Labels: w-ci, t-erc, s-final, c-update, s-stagnant, e-consensus

#966 Update ERC-5218: update broken foundry link
  assets/erc-5218/contracts/README.md
Labels: e-consensus

#980 Update ERC-7401: Fix some typos
  assets/erc-7401/contracts/NestableToken.sol
  assets/erc-7401/test/nestable.ts
Labels: e-consensus

#782 Add ERC: Social Media NFTs
  ERCS/erc-7847.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1040 Update ERC-7743: update erc-7743
  ERCS/erc-7743.md
  assets/erc-7743/MONFT.sol
Labels: t-erc, c-update

#1041 Update ERC-7837: update author
  ERCS/erc-7837.md
Labels: t-erc, c-update

#900 Update ERC-7812: Update ERC-7812 SMT circuit
  ERCS/erc-7812.md
  assets/erc-7812/circuits/SparseMerkleTree.circom
Labels: t-erc, s-draft, c-update, e-consensus

#1042 Update ERC-7812: Update ERC-7812 addresses
  ERCS/erc-7812.md
Labels: t-erc, s-draft, c-update

#1039 Update ERC-7677: "Update ERC-7677: chain id update"
  ERCS/erc-7677.md
Labels: t-erc, c-update, s-review, a-review

#1047 Update ERC-7847: Clarifying how to handle whitespace for ID calculation
  ERCS/erc-7847.md
Labels: t-erc, s-draft, c-update

#1045 Update ERC-4337: referece calldata cost increase (eip-7623)
  ERCS/erc-4337.md
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#1012 Update ERC-7739: Add security consideration about chaining
  ERCS/erc-7739.md
Labels: t-erc, s-draft, c-update

#1044 Update ERC-7743: Move to Final
  ERCS/erc-7743.md
Labels: t-erc, c-status, s-final, e-review

#999 Add ERC: PermaLink Asset Bound Token
  ERCS/erc-7929.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1058 Update ERC-7291: Move to Last Call
  ERCS/erc-7291.md
Labels: t-erc, c-status, e-review

#1055 Update ERC-6909: update username jtriley-eth -> jtriley2p
  ERCS/erc-6909.md
Labels: t-erc, c-update, s-review, a-review

#814 Update ERC-6358: fix typos
  ERCS/erc-6358.md
Labels: t-erc, c-update, s-review, a-review

#861 Add ERC: Decentralised User Profiles
  ERCS/erc-7866.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review
