Repository ethereum/ERCs, pull requests merged in 2025-09, with the labels that each got.

#1197 Update ERC-7654: Added instruction to erc7654
  ERCS/erc-7654.md
  assets/erc-7654/RequestMethodTypes.sol
Labels: t-erc, s-draft, c-update

#1200 Update ERC-7878: Move to Final
  ERCS/erc-7878.md
Labels: t-erc, c-status, s-final, e-review

#1178 Update ERC-7858: Move to Final
  ERCS/erc-7858.md
Labels: t-erc, c-status, s-final, e-review

#1206 Minor modifications
  ERCS/erc-7857.md
Labels: t-erc, c-update, s-review, e-review

#1207 Update ERC-7857: rename intelligentDatasOf as intelligentDataOf
  ERCS/erc-7857.md
Labels: t-erc, c-update, s-review

#1221 Update ERC-7943: small formatting
  ERCS/erc-7943.md
Labels: t-erc, c-update, s-review
