Repository ethereum/ERCs, pull requests merged in 2025-03, with the labels that each got.

#876 Update ERC-7579: Prefix ERC-7579 interfaces names to avoid conflicts
  ERCS/erc-7579.md
Labels: t-erc, s-draft, c-update, a-review

#933 Update ERC-7769: Elaborate how EIP-7702 support works
  ERCS/erc-7769.md
Labels: t-erc, s-draft, c-update

#935 Update ERC-7769: Rephrase one sentence
  ERCS/erc-7769.md
Labels: t-erc, s-draft, c-update

#692 Add ERC: Crosschain Token Interface
  ERCS/erc-7802.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#938 Update ERC-7562: Fixing phases description
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#939 Update ERC-7562: InclusionRate definition fix
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#940 Update ERC-7562: Removing "accountable" from definition
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#937 Update ERC-4337: Add mention of PER_EMPTY_ACCOUNT_COST
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#936 Update ERC-4337: Fixes audit 2
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#943 Update ERC-4337: Adding use cases to motivation
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#941 Update ERC-4337: Update erc-4337.md
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#945 Update ERC-7562: Unstaked paymaster context
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#942 Update ERC-4337: Clarifications; correct use of "Smart Contract Account" terminology
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#358 Add ERC: Temporary Approval Extension for ERC-20
  ERCS/erc-7674.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#926 Update ERC-7786: Add messageId to IERC7786Receiver.executeMessage
  ERCS/erc-7786.md
Labels: t-erc, s-draft, c-update

#949 Update ERC-4337: Update erc-4337.md
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#950 Update ERC-4337: postOpMode
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#952 Update ERC-7573: Update erc 7573 - add optional key hashed
  ERCS/erc-7573.md
  assets/erc-7573/README.md
  assets/erc-7573/contracts/IDecryptionContract.sol
  assets/erc-7573/contracts/ILockingContract.sol
  assets/erc-7573/doc/Delivery_versus_Payment_across_two_Blockchains.pdf
  assets/erc-7573/doc/DvP-Seq-Diag.pdf
  assets/erc-7573/doc/DvP-Seq-Diag.png
  assets/erc-7573/package.json
Labels: t-erc, s-draft, c-update

#946 Update ERC-7562: Erc 7562 changes
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#955 Update ERC-4337: Add 'preVerificationGas' estimation explainer
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#893 Add ERC: Operation Router
  ERCS/erc-7884.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#959 Update ERC-7573: Feature/7573 update documentation - and change the id from bytes32 to uint256.
  ERCS/erc-7573.md
  assets/erc-7573/README.md
  assets/erc-7573/contracts/IDecryptionContract.sol
  assets/erc-7573/contracts/ILockingContract.sol
  assets/erc-7573/doc/Delivery_versus_Payment_across_two_Blockchains.pdf
  assets/erc-7573/doc/DvP-Seq-Diag.pdf
  assets/erc-7573/doc/DvP-Seq-Diag.png
  assets/erc-7573/package.json
Labels: t-erc, s-draft, c-update

#509 Add ERC: Structured Data Clear Signing Format
  ERCS/erc-7730.md
  assets/erc-7730/curation-model.svg
  assets/erc-7730/erc7730-v1.schema.json
  assets/erc-7730/example-erc20.json
  assets/erc-7730/example-include.json
  assets/erc-7730/example-main.json
  assets/erc-7730/structured-data.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#958 Update ERC-7562: Updates post-audit
  ERCS/erc-7562.md
Labels: t-erc, s-draft, c-update

#957 Update ERC-4337: Updates post-audit
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#800 Website: Fix typos and spelling errors in documentation
  _includes/head.html
  assets/erc-2535/reference/Diamond.sol
  assets/erc-2535/storage-examples/AppStorage.sol
Labels: e-consensus

#804 Refined text by fixing typos and improving clarity
  assets/erc-4519/PoC_SmartNFT/PoC_SmartNFT.sol
Labels: e-consensus

#806 chore: docs fix spelling issues
  assets/erc-5773/contracts/library/MultiAssetLib.sol
  assets/erc-6123/contracts/ERC20Settlement.sol
Labels: e-consensus

#669 Add ERC: Onchain registration of chain identifiers
  ERCS/erc-7785.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#827 Fixing Typographical Errors in Documentation
  assets/erc-4675/contracts/interface/IERC721.sol
  assets/erc-5247/ProposalRegistry.sol
Labels: e-consensus

#934 Add ERC: Wallet-Linked Services for Smart Accounts
  ERCS/erc-7897.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#951 Update ERC-6105: Remove redundant word
  ERCS/erc-6105.md
Labels: t-erc, s-final, c-update, e-consensus

#777 Update ERC-1922: Fix links
  ERCS/erc-1922.md
  ERCS/erc-1923.md
Labels: t-erc, c-update, s-stagnant, e-review

#896 Add ERC: Cancelation for ERC-7540 Tokenized Vaults
  ERCS/erc-7887.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#801 Corrected spelling mistakes
  assets/erc-2535/reference/Diamond.sol
  assets/erc-3475/ERC3475.sol
  assets/erc-3475/interfaces/IERC3475.sol
Labels: e-consensus

#803 Update ERC-1056: Update erc-1056.md
  ERCS/erc-1056.md
Labels: t-erc, c-update, s-stagnant, e-review

#805 fixed typos
  assets/erc-5252/test/Lock.ts
Labels: e-consensus

#711 Add ERC: Store, Table-Based Introspectable Storage
  ERCS/erc-7813.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#837 Update ERC-2645: typos in documentation files
  ERCS/erc-2645.md
Labels: t-erc, c-update, s-stagnant, e-review, a-review

#841 Add ERC: Expirable NFTs and SBTs
  ERCS/erc-7858.md
  assets/erc-7858/.gitignore
  assets/erc-7858/README.md
  assets/erc-7858/contracts/MockERC7858.sol
  assets/erc-7858/contracts/MockERC7858Epoch.sol
  assets/erc-7858/contracts/abstracts/ERC7858.sol
  assets/erc-7858/contracts/abstracts/ERC7858Epoch.sol
  assets/erc-7858/contracts/interfaces/IERC7858.sol
  assets/erc-7858/contracts/interfaces/IERC7858Epoch.sol
  assets/erc-7858/contracts/libraries/SlidingWindow.sol
  assets/erc-7858/contracts/libraries/SortedList.sol
  assets/erc-7858/hardhat.config.ts
  assets/erc-7858/package.json
  assets/erc-7858/test/base.test.ts
  assets/erc-7858/test/epoch.test.ts
  assets/erc-7858/tsconfig.json
Labels: t-erc, s-draft, c-new, e-consensus, e-review, a-review

#875 Update ERC-6900: Prefix ERC-6900 interfaces names to avoid conflicts
  ERCS/erc-6900.md
Labels: t-erc, s-draft, c-update, a-review

#984 Update ERC-7656: Expand the scope of the proposal
  ERCS/erc-7656.md
  assets/erc-7656/ERC7656Factory.sol
  assets/erc-7656/ERC7656Registry.sol
  assets/erc-7656/ERC7656Service.sol
  assets/erc-7656/examples/NFTRevenueSharing.sol
  assets/erc-7656/examples/RWAComplianceService.sol
  assets/erc-7656/examples/SocialRecoveryService.sol
  assets/erc-7656/interfaces/IERC7656Factory.sol
  assets/erc-7656/interfaces/IERC7656Service.sol
  assets/erc-7656/lib/ERC7656BytecodeLib.sol
  assets/erc-7656/lib/ERC7656ServiceLib.sol
  assets/erc-7656/lib/IERC156.sol
Labels: t-erc, c-update, s-review, e-review

#988 Update ERC-7656: Add example for ERC-1155-linked service
  ERCS/erc-7656.md
Labels: t-erc, c-update, s-review

#989 Update ERC-7897: Move to Withdrawn
  ERCS/erc-7897.md
Labels: t-erc, c-status, s-withdrawn

#990 Update ERC-7656: Fix interface id
  ERCS/erc-7656.md
Labels: t-erc, c-update, s-review

#992 Update ERC-7656: improve reference implementation
  ERCS/erc-7656.md
  assets/erc-7656/ERC7656Factory.sol
  assets/erc-7656/examples/NFTRevenueSharing.sol
  assets/erc-7656/examples/RWAComplianceService.sol
  assets/erc-7656/examples/SocialRecoveryService.sol
Labels: t-erc, c-update, s-review

#994 Update ERC-7573: Feature/7573 distributed decryption support
  ERCS/erc-7573.md
  assets/erc-7573/contracts/IDecryptionContract.sol
  assets/erc-7573/doc/Delivery_versus_Payment_across_two_Blockchains.pdf
  assets/erc-7573/doc/Distributed-Oracle.pdf
  assets/erc-7573/doc/Distributed-Oracle.png
  assets/erc-7573/doc/DvP-Seq-Diag.pdf
  assets/erc-7573/doc/DvP-Seq-Diag.png
  assets/erc-7573/doc/EncryptedArg-Seq-Diag.pdf
  assets/erc-7573/doc/EncryptedArg-Seq-Diag.png
  assets/erc-7573/package.json
Labels: t-erc, s-draft, c-update

#995 Update ERC-7884: Replace mermaid with svg
  ERCS/erc-7884.md
  assets/erc-7884/d1.mmd
  assets/erc-7884/d1.svg
  assets/erc-7884/d2.mmd
  assets/erc-7884/d2.svg
Labels: t-erc, s-draft, c-update, a-review
