Repository ethereum/ERCs, pull requests merged in 2025-06, with the labels that each got.

#816 Update ERC-7821: Remove ERC-165 mention and clarify address replacement
  ERCS/erc-7821.md
Labels: t-erc, s-draft, c-update, a-review

#1071 Update ERC-7597: Remove redundant word
  ERCS/erc-7597.md
Labels: t-erc, s-draft, c-update, a-review

#1074 Update ERC-7913: Move to Review
  ERCS/erc-7913.md
Labels: t-erc, c-status, s-review, e-review

#1076 Update ERC-7811: typo `assetFiled` → `assetFilter`
  ERCS/erc-7811.md
Labels: t-erc, s-draft, c-update, a-review

#930 Add ERC: Splitting and Merging of NFTs
  ERCS/erc-7891.md
  assets/eip-7891/ERC7891.sol
  assets/eip-7891/IERC7891.sol
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#897 Add ERC: Crosschain Broadcaster
  ERCS/erc-7888.md
  assets/erc-7888/BHP.svg
  assets/erc-7888/BHPCopy.svg
  assets/erc-7888/broadcasting.svg
  assets/erc-7888/pointer.svg
  assets/erc-7888/receiving.svg
  assets/erc-7888/route.svg
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1073 Update ERC-7399: Move to Review
  ERCS/erc-7399.md
Labels: t-erc, c-status, s-review, e-review

#1060 Update ERC-7813: Move to Review
  ERCS/erc-7813.md
Labels: t-erc, c-status, s-review, e-review

#925 Fix Documentation and Improve Clarity in Smart Contracts
  assets/erc-6464/contracts/IERC6464.sol
  assets/erc-7573/contracts/ILockingContract.sol
  assets/erc-7746/test/LibAccessLayers.sol
Labels: e-consensus

#1048 Update ERC-4337: Update erc-4337.md
  ERCS/erc-4337.md
Labels: t-erc, s-draft, c-update

#982 Update ERC-7710: Improved ERC in response to feedback on ethereum magicians
  ERCS/erc-7710.md
  assets/erc-7710/Example7710Manager.sol
Labels: w-ci, t-erc, s-draft, c-update

#1079 Update ERC-7888: Formatting
  ERCS/erc-7888.md
Labels: t-erc, s-draft, c-update

#947 Add ERC: Wallet Capabilities for Account Abstraction
  ERCS/erc-7902.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1017 Add ERC: Versioned Proxy Contract Interface
  ERCS/erc-7936.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1097 Update ERC-7739: Remove redundant word
  ERCS/erc-7739.md
Labels: t-erc, s-draft, c-update, a-review

#1019 Update ERC-5516: fix duplicate `and and` erc-5516.md
  ERCS/erc-5516.md
Labels: t-erc, c-update, s-stagnant, a-review

#1046 Add ERC: Account Abstraction Recovery Interface
  ERCS/erc-7947.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1105 Update ERC-7947: Review fixes
  ERCS/erc-7947.md
Labels: t-erc, s-draft, c-update

#1069 Add ERC: Cross-Chain EIP-712 Signing Domains
  ERCS/erc-7964.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1029 Add ERC: uRWA - Universal Real World Asset Interface
  ERCS/erc-7943.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1100 Update ERC-7812: Move to Review
  ERCS/erc-7812.md
Labels: t-erc, c-status, s-review, e-review

#851 Add ERC: ERC-721 Verifiable Credential Extension
  ERCS/erc-7861.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#778 Add ERC: Universal Orchestrator RPC
  ERCS/erc-7845.md
  assets/erc-7845/flow.jpg
  assets/erc-7845/sequence.png
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#932 Add ERC: API for Hierarchical Accounts
  ERCS/erc-7895.md
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review
