Repository ethereum/ERCs, pull requests merged in 2025-10, with the labels that each got.

#1230 Update ERC-7291: Move to Final
  ERCS/erc-7291.md
Labels: t-erc, c-status, s-final, e-review

#1228 Update ERC-7950: Move to Final
  ERCS/erc-7950.md
Labels: t-erc, c-status, s-final, e-review

#1189 Update ERC-7656: Move to Last Call
  ERCS/erc-7656.md
Labels: t-erc, c-status, e-review

#1231 Update ERC-7730: Expand scope to machine consumption, enhance security considerations
  ERCS/erc-7730.md
Labels: t-erc, s-draft, c-update, a-review
