Repository ethereum/ERCs, pull requests merged in 2025-08, with the labels that each got.

#1138 Update ERC-7858: Move to Last Call
  ERCS/erc-7858.md
  assets/erc-7858/contracts/abstracts/ERC7858Epoch.sol
  assets/erc-7858/contracts/interfaces/IERC7858Epoch.sol
  assets/erc-7858/test/epoch.test.ts
Labels: t-erc, c-status, e-review

#1161 Update ERC-7947: owner -> access
  ERCS/erc-7947.md
Labels: t-erc, s-draft, c-update

#1052 Add ERC: Permissionless CREATE2 Factory
  ERCS/erc-7955.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1169 Update ERC-7943: Make tokenId indexed for ForcedTransfer event
  ERCS/erc-7943.md
Labels: t-erc, c-update, s-review, a-review

#1126 Update ERC-7682: Add section on `capabilities.auxiliaryFunds` parameter, `requiredAssets`
  ERCS/erc-7682.md
Labels: t-erc, s-draft, c-update, a-review

#1174 Update ERC-7955: Propagate CREATE2 Reverts
  ERCS/erc-7955.md
Labels: t-erc, s-draft, c-update

#1181 Update ERC-7656: Remove reference to 6551
  ERCS/erc-7656.md
Labels: t-erc, c-update, s-review

#1043 Add ERC: Unidirectional Wallet Uplink aka UWULink
  ERCS/erc-7946.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1187 Update ERC-7754: adding details on 'alg' param
  ERCS/erc-7754.md
Labels: t-erc, s-draft, c-update, a-review
