Repository ethereum/ERCs, pull requests merged in 2025-04, with the labels that each got.

#1000 Update ERC-7821: Rename target -> to
  ERCS/erc-7821.md
Labels: t-erc, s-draft, c-update

#709 Add ERC: Wallet Asset Discovery
  ERCS/erc-7811.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#866 Update ERC-6381: typo fix Update erc-6381.md
  ERCS/erc-6381.md
Labels: t-erc, s-final, c-update, e-consensus

#986 Add ERC: Signature Verifiers
  ERCS/erc-7913.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#349 Add ERC: ERC-721 Guarantee Extension
  ERCS/erc-7652.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review, w-stale

#1006 Update ERC-7913: Update erc-7913.md
  ERCS/erc-7913.md
Labels: t-erc, s-draft, c-update

#1007 Update ERC-7913: Add security considerations
  ERCS/erc-7913.md
Labels: t-erc, s-draft, c-update

#1011 Update ERC-7802: Address feedback and include Native Token Security Considerations
  ERCS/erc-7802.md
Labels: t-erc, s-draft, c-update

#970 Update ERC-6220: fix some typos
  ERCS/erc-6220.md
  assets/erc-6220/contracts/Catalog.sol
  assets/erc-6220/contracts/EquippableToken.sol
  assets/erc-6220/contracts/IERC6220.sol
  assets/erc-6220/contracts/utils/EquipRenderUtils.sol
  assets/erc-6220/test/multiasset.ts
  assets/erc-6220/test/nestable.ts
Labels: t-erc, s-final, c-update, e-consensus

#1018 CI: Bump HTMLProofer & run on ubuntu-24.04
  .github/workflows/ci.yml
Labels: e-consensus

#1024 CI: bump actions/checkout to v4
  .github/workflows/jekyll.yml
Labels: e-consensus

#1026 Update ERC-7744: updated erc7744 with latest 7702 changes, renamed assets with standard number
  ERCS/erc-7744.md
  assets/erc-7744/ERC7744.sol
  assets/erc-7744/IERC7744.sol
Labels: t-erc, c-update, s-review

#874 Add ERC: Wallet Signing API
  ERCS/erc-7871.md
Labels: w-ci, t-erc, s-draft, c-new, e-consensus, e-review

#696 Add ERC: Minimal intent-centric EOA smart account
  ERCS/erc-7806.md
Labels: t-erc, s-draft, c-new, e-consensus, e-review

#1005 Update ERC-7631: Move to Last Call
  ERCS/erc-7631.md
Labels: t-erc, c-status, e-review
